@media screen and (min-width: 320px) and (max-width: 391px) {
  .cifra {
    color: #000;
    font-family: 'Eurostile Extended', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 41.6px */
    letter-spacing: 0.32px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 20px; }

  .jirn_text {
    color: #000;
    font-family: 'Eurostile Extended', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 23.4px */
    letter-spacing: 0.18px;
    margin-bottom: 8px;
    padding-left: 20px; }

  .txt {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
    letter-spacing: 0.12px;
    padding-left: 20px;
    padding-bottom: 28px; }

  .container {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }

  .scelet {
    background-color: #F1F0EB; }
    .scelet header {
      background-image: url("../img/Rectangle 17.png");
      background-repeat: no-repeat;
      background-size: 390px; }
      .scelet header .container {
        width: 350px;
        margin: 0 auto;
        display: flex;
        align-items: stretch; }
        .scelet header .container .selects {
          display: none; }
        .scelet header .container .change-currency {
          display: none; }
        .scelet header .container .contacts div {
          display: none; }
        .scelet header .container .contacts .Request_a_callback {
          display: none; }
        .scelet header .container .contacts .whatsapp1 {
          display: none; }
        .scelet header .container .contacts .telegram1 {
          display: none; }
      .scelet header .container1 {
        border-top: solid 1px #989898;
        border-bottom: solid 1px #989898; }
        .scelet header .container1 .container .s_emblemoi {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .scelet header .container1 .container .s_emblemoi .svg_3_poloski {
            display: block;
            position: static; }
          .scelet header .container1 .container .s_emblemoi .uat_trade_wide_screen {
            display: none; }
          .scelet header .container1 .container .s_emblemoi .uat_trade_mobile_screen {
            display: block;
            margin-top: 18px;
            margin-bottom: 17px; }
          .scelet header .container1 .container .s_emblemoi .trubka_dlya_mobili {
            display: block;
            width: 20px;
            height: 20px; }
          .scelet header .container1 .container .s_emblemoi ul {
            display: none; }
      .scelet header .container hgroup h1 {
        color: #FFF;
        font-family: 'Eurostile Extended', sans-serif;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 55.2px */
        margin-left: 15px; }
      .scelet header .container hgroup h3 {
        color: #FFF;
        font-family: 'Eurostile Extended', sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 24.7px */
        letter-spacing: 0.19px;
        margin-top: -40px;
        margin-left: 15px; }
      .scelet header .container .letsgo {
        margin-top: -176px; }
      .scelet header .container .dlia_wide_screen {
        display: none; }
      .scelet header .container .dlia_mobile_screen {
        display: none; }
    .scelet .page2 .container .uslugi {
      grid-template-columns: 360px;
      grid-template-rows: 250px 250px 250px; }
      .scelet .page2 .container .uslugi .gelic {
        background-image: url("../img/Rectangle 21.png");
        grid-column: 1;
        grid-row: 1; }
        .scelet .page2 .container .uslugi .gelic p {
          margin-left: 30px; }
        .scelet .page2 .container .uslugi .gelic .more {
          position: relative;
          top: 119px;
          right: -190px; }
      .scelet .page2 .container .uslugi .koleso {
        background-image: url("../img/Rectangle 21 (1).png");
        grid-column: 1;
        grid-row: 2; }
        .scelet .page2 .container .uslugi .koleso p {
          margin-left: 30px; }
        .scelet .page2 .container .uslugi .koleso .more {
          position: relative;
          top: 119px;
          right: -189px; }
      .scelet .page2 .container .uslugi .fara {
        background-image: url("../img/Rectangle 21 (2).png");
        grid-column: 1;
        grid-row: 3; }
        .scelet .page2 .container .uslugi .fara p {
          margin-left: 30px; }
        .scelet .page2 .container .uslugi .fara .more {
          position: relative;
          top: 119px;
          right: -189px; }
    .scelet .choose .container .choose_vehicle {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 60px;
      color: #000;
      font-family: 'Eurostile Extended', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 31.2px */
      letter-spacing: 1.2px;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .scelet .choose .container .body_type {
      display: grid;
      justify-content: center;
      grid-template-columns: 108px 108px 108px;
      grid-template-rows: 65px 72px 41px; }
      .scelet .choose .container .body_type .bodyTypeButton {
        grid-column: 1;
        border: 1px solid #D9D9D9;
        border-radius: 10px 0px 0px 10px;
        background-color: #4071CB;
        color: #FFF;
        display: grid;
        justify-content: center;
        align-items: center;
        text-transform: uppercase; }
      .scelet .choose .container .body_type .brandbutton {
        grid-column: 2/span 3;
        border: 1px solid #D9D9D9;
        border-radius: 10px 0px 0px 10px;
        color: black;
        display: grid;
        justify-content: center;
        align-items: center;
        text-transform: uppercase; }
      .scelet .choose .container .body_type .suv {
        display: block;
        grid-column: 1;
        grid-row: 2; }
        .scelet .choose .container .body_type .suv .suv_wide {
          width: 108px;
          height: 40px; }
        .scelet .choose .container .body_type .suv div {
          text-transform: uppercase;
          display: flex;
          justify-content: center; }
      .scelet .choose .container .body_type .sedan {
        display: block;
        grid-column: 2;
        grid-row: 2; }
        .scelet .choose .container .body_type .sedan .sedan_wide {
          width: 106px;
          height: 40px; }
        .scelet .choose .container .body_type .sedan div {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          color: #4071CB;
          font-family: 'Eurostile Extended', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px; }
      .scelet .choose .container .body_type .wagon {
        display: block;
        grid-column: 3;
        grid-row: 2; }
        .scelet .choose .container .body_type .wagon .wagon_wide {
          width: 107px;
          height: 40px; }
        .scelet .choose .container .body_type .wagon div {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          color: #4071CB;
          font-family: 'Eurostile Extended', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px; }
      .scelet .choose .container .body_type .hatch {
        display: block;
        grid-column: 1;
        grid-row: 3; }
        .scelet .choose .container .body_type .hatch .hatch_wide {
          width: 108px;
          height: 40px; }
        .scelet .choose .container .body_type .hatch div {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          color: #4071CB;
          font-family: 'Eurostile Extended', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px; }
      .scelet .choose .container .body_type .ute {
        display: block;
        grid-column: 2;
        grid-row: 3; }
        .scelet .choose .container .body_type .ute .ute_wide {
          width: 108px;
          height: 40px; }
        .scelet .choose .container .body_type .ute div {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          color: #4071CB;
          font-family: 'Eurostile Extended', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px; }
      .scelet .choose .container .body_type .convert {
        display: block;
        grid-column: 3;
        grid-row: 3; }
        .scelet .choose .container .body_type .convert .convert_wide {
          width: 108px;
          height: 40px; }
        .scelet .choose .container .body_type .convert div {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          color: #4071CB;
          font-family: 'Eurostile Extended', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px; }
    .scelet .choose .container .block {
      display: none; }
    .scelet .container {
      display: flex;
      align-items: center; }
      .scelet .container .show_all {
        display: flex;
        width: 145px;
        height: 35px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #4071CB;
        margin-top: 40px;
        color: #4071CB;
        position: relative;
        right: 0%; }
    .scelet .hot_deals .container .hotDeals {
      color: #000;
      font-family: 'Eurostile Extended', sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 39px */
      letter-spacing: 1.5px;
      margin-top: 0px;
      margin-bottom: 34px;
      display: flex;
      justify-content: center; }
    .scelet .hot_deals .container .kartochki {
      display: grid;
      grid-template-columns: 325px;
      grid-template-rows: 325px 325px 325px 325px;
      justify-content: center;
      grid-column-gap: 13px;
      grid-row-gap: 34px; }
      .scelet .hot_deals .container .kartochki .kart {
        border-radius: 10px;
        border: 1px solid #D9D9D9;
        background: #F1F0EB; }
        .scelet .hot_deals .container .kartochki .kart .nameOfCar {
          display: flex; }
          .scelet .hot_deals .container .kartochki .kart .nameOfCar p {
            margin-right: 80px;
            margin-left: 20px;
            margin-bottom: 0px; }
        .scelet .hot_deals .container .kartochki .kart .yearOfvipusk {
          color: #000;
          font-family: 'Eurostile Extended', sans-serif;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 13px */
          letter-spacing: 1.2px;
          margin-left: 20px;
          margin-top: -0px; }
        .scelet .hot_deals .container .kartochki .kart .foto_avtom {
          width: 223px;
          height: 111px; }
        .scelet .hot_deals .container .kartochki .kart .znachki img {
          width: 49px;
          height: 22px; }
        .scelet .hot_deals .container .kartochki .kart .cost {
          display: flex;
          width: 285px;
          height: 45px;
          padding: 10px;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: 1px solid #000; }
    .scelet .foto_maseratti .container {
      margin-top: 60px; }
      .scelet .foto_maseratti .container .maseratti_wide {
        display: none; }
      .scelet .foto_maseratti .container .maseratti_mobile {
        display: block;
        width: 360px;
        height: 450px; }
    .scelet .kak_kupit_avto_s_dostavkoi .container {
      margin-top: 75px; }
      .scelet .kak_kupit_avto_s_dostavkoi .container p {
        color: #000;
        text-align: center;
        font-family: 'Eurostile Extended', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        /* 29px */
        letter-spacing: 1px;
        text-transform: uppercase; }
      .scelet .kak_kupit_avto_s_dostavkoi .container .instruction {
        display: grid;
        grid-template-columns: 360px;
        grid-template-rows: 165px 165px 165px;
        grid-row-gap: 10px; }
        .scelet .kak_kupit_avto_s_dostavkoi .container .instruction .zayavka {
          grid-column: 1;
          grid-row: 1;
          border-radius: 10px;
          border: 1px solid #4F4F4F; }
        .scelet .kak_kupit_avto_s_dostavkoi .container .instruction .dogovor {
          grid-column: 1;
          grid-row: 2;
          border-radius: 10px;
          border: 1px solid #4F4F4F; }
        .scelet .kak_kupit_avto_s_dostavkoi .container .instruction .oplata {
          grid-column: 1;
          grid-row: 3;
          border-radius: 10px;
          border: 1px solid #4F4F4F; }
      .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 360px;
        grid-template-rows: 165px 245px;
        grid-row-gap: 10px; }
        .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 .dostavka {
          grid-column: 1;
          grid-row: 1;
          border-radius: 10px;
          border: 1px solid #4F4F4F; }
        .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 .otpravit_zapros {
          grid-column: 1;
          grid-row: 2;
          border-radius: 10px;
          border: 1px solid #4F4F4F; }
          .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 .otpravit_zapros .txt_s_knopkoi {
            display: flex;
            flex-direction: column; }
            .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 .otpravit_zapros .txt_s_knopkoi button {
              width: 285px;
              height: 45px;
              border-radius: 8px;
              border: 1px solid #4F4F4F;
              margin-right: 62px;
              margin-left: 20px; }
    .scelet .R8 .container {
      background-image: url("../img/Rectangle 9 (1).png");
      background-repeat: no-repeat;
      margin-top: 63px; }
      .scelet .R8 .container .kartochki_na_R8 {
        display: flex;
        flex-direction: column; }
        .scelet .R8 .container .kartochki_na_R8 .kartochka {
          width: 315px;
          height: 102px;
          flex-shrink: 0;
          border-radius: 10px;
          background: rgba(255, 255, 255, 0.6);
          margin-right: 10px;
          margin-top: 0px; }
          .scelet .R8 .container .kartochki_na_R8 .kartochka .txt_1 {
            color: #000;
            font-family: 'Eurostile Extended', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            /* 31.2px */
            letter-spacing: 0.24px;
            padding-top: 30px;
            margin-left: 15px; }
          .scelet .R8 .container .kartochki_na_R8 .kartochka .txt2 {
            display: none; }
          .scelet .R8 .container .kartochki_na_R8 .kartochka .txt_3 {
            display: none; }
    .scelet footer {
      border: solid 1px #D9D9D9;
      margin-top: 66px; }
      .scelet footer .container .foot_s_gridami {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 40px 32px 15px 25px 55px;
        grid-row-gap: 60px; }
        .scelet footer .container .foot_s_gridami .foot_s_logo {
          grid-column: 1;
          grid-row: 1;
          color: #4F4F4F;
          font-family: 'Eurostile Extended', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px;
          margin-top: 47px; }
        .scelet footer .container .foot_s_gridami .foot_s_nomerom {
          grid-column: 1;
          grid-row: 2;
          display: flex;
          flex-direction: column;
          margin-top: 47px; }
          .scelet footer .container .foot_s_gridami .foot_s_nomerom p {
            color: #000;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: normal; }
          .scelet footer .container .foot_s_gridami .foot_s_nomerom div {
            color: #000;
            font-family: 'Eurostile Extended', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; }
            .scelet footer .container .foot_s_gridami .foot_s_nomerom div img {
              margin-left: 20px; }
        .scelet footer .container .foot_s_gridami .foot_s_knopkoi {
          grid-column: 1;
          grid-row: 4;
          border-radius: 6px;
          margin-top: 47px; }
          .scelet footer .container .foot_s_gridami .foot_s_knopkoi button {
            width: 250px;
            height: 55px;
            border-radius: 6px;
            background: #000;
            color: #FFF; }
        .scelet footer .container .foot_s_gridami .foot_s_silkami {
          display: none; }
        .scelet footer .container .foot_s_gridami .foot_s_adresom {
          grid-column: 1;
          grid-row: 4; }
          .scelet footer .container .foot_s_gridami .foot_s_adresom .divvv1 {
            color: #000;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: normal; }
          .scelet footer .container .foot_s_gridami .foot_s_adresom .divvv2 {
            color: #000;
            font-family: 'Eurostile Extended', sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; }
    .scelet .footer_1 .container {
      display: grid;
      grid-template-columns: 117px 117px 117px;
      grid-template-rows: 59px 47px 47px;
      grid-row-gap: 30px; }
      .scelet .footer_1 .container .invoice {
        margin-right: 8px;
        border-radius: 7px;
        border: 1px solid #D9D9D9;
        width: 117px;
        height: 59px;
        flex-shrink: 0;
        margin-bottom: 0px; }
        .scelet .footer_1 .container .invoice p {
          color: #4F4F4F;
          font-family: 'Eurostile Extended', sans-serif;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 14.3px */
          letter-spacing: 0.66px;
          text-transform: uppercase;
          position: relative;
          top: -15px;
          right: -60px; }
        .scelet .footer_1 .container .invoice .div_so_znachkami {
          display: flex;
          justify-content: space-between;
          margin-top: 14px;
          margin-left: 14px;
          margin-right: 14px; }
          .scelet .footer_1 .container .invoice .div_so_znachkami .second_kartinka {
            width: 14px;
            height: 14px; }
      .scelet .footer_1 .container .USDT {
        margin-right: 8px;
        border-radius: 7px;
        border: 1px solid #D9D9D9;
        width: 117px;
        height: 59px;
        flex-shrink: 0; }
        .scelet .footer_1 .container .USDT p {
          color: #4F4F4F;
          font-family: 'Eurostile Extended', sans-serif;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 14.3px */
          letter-spacing: 0.66px;
          text-transform: uppercase;
          position: relative;
          top: 24px;
          right: -76px; }
        .scelet .footer_1 .container .USDT img {
          float: right;
          margin-right: 14px;
          margin-top: 14px; }
      .scelet .footer_1 .container .cash {
        margin-right: 55px;
        border-radius: 7px;
        border: 1px solid #D9D9D9;
        width: 117px;
        height: 59px;
        flex-shrink: 0; }
        .scelet .footer_1 .container .cash p {
          color: #4F4F4F;
          font-family: 'Eurostile Extended', sans-serif;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 14.3px */
          letter-spacing: 0.66px;
          text-transform: uppercase;
          position: relative;
          top: -7px;
          right: -77px; }
        .scelet .footer_1 .container .cash .div_so_znachkami_1 {
          display: flex;
          justify-content: space-between;
          margin-top: 14px;
          margin-left: 14px;
          margin-right: 14px; }
          .scelet .footer_1 .container .cash .div_so_znachkami_1 .second_kartinka {
            width: 14px;
            height: 14px; }
      .scelet .footer_1 .container .facebook {
        float: left;
        border-radius: 7px;
        border: 1px solid #D9D9D9;
        width: 177px;
        height: 47px;
        flex-shrink: 0;
        margin-right: 6px;
        grid-column: 1/span 3;
        grid-row: 2;
        justify-content: center;
        align-items: center; }
        .scelet .footer_1 .container .facebook p {
          color: #4F4F4F;
          font-family: 'Eurostile Extended', sans-serif;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 14.3px */
          letter-spacing: 0.66px;
          text-transform: uppercase;
          position: relative;
          top: 6px;
          right: -44px; }
        .scelet .footer_1 .container .facebook img {
          float: right;
          margin-top: 14px;
          margin-right: 14px; }
      .scelet .footer_1 .container .instagram {
        margin-right: 8px;
        border-radius: 7px;
        border: 1px solid #D9D9D9;
        width: 177px;
        height: 47px;
        flex-shrink: 0;
        grid-column: 1/span 3;
        grid-row: 3; }
        .scelet .footer_1 .container .instagram p {
          color: #4F4F4F;
          font-family: 'Eurostile Extended', sans-serif;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 14.3px */
          letter-spacing: 0.66px;
          text-transform: uppercase;
          position: relative;
          top: 5px;
          right: -32px; }
        .scelet .footer_1 .container .instagram img {
          float: right;
          margin-top: 14px;
          margin-right: 14px; } }

/*# sourceMappingURL=mediaForIndex.css.map */
