
@mixin mobile ($minw, $maxw) {
    @media screen and (min-width: $minw) and (max-width: $maxw) {
        @content;
    }
}

@include mobile (320px, 391px) {

    .cifra {
        color: #000;
        font-family: 'Noto Sans', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 41.6px */
        letter-spacing: 0.32px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-top: 20px;
    }

    .jirn_text {
        color: #000;
        font-family: 'Noto Sans', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        /* 23.4px */
        letter-spacing: 0.18px;
        margin-bottom: 8px;
        padding-left: 20px;
    }

    .txt {
        color: #000;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 15.6px */
        letter-spacing: 0.12px;
        padding-left: 20px;
        padding-bottom: 28px;
    }

    .container {
        width: 350px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .scelet {
        background-color: #F1F0EB;

        header {
            background-image: url('../img/Rectangle 17.png');
            background-repeat: no-repeat;
            background-size: 390px;

            .container {
                width: 350px;
                margin: 0 auto;
                display: flex;
                align-items: stretch;

                .selects {
                    display: none;
                }

                .change-currency {
                    display: none;
                }

                .contacts {
                    div {
                        display: none;
                    }

                    .Request_a_callback {
                        display: none;
                    }

                    .whatsapp1 {
                        display: none;
                    }

                    .telegram1 {
                        display: none;
                    }

                }
            }

            .container1 {
                border-top: solid 1px #989898;
                ;
                border-bottom: solid 1px #989898;
                ;

                .container {
                    .s_emblemoi {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .svg_3_poloski {
                            display: block;
                            position: static;
                        }

                        .uat_trade_wide_screen {
                            display: none;
                        }

                        .uat_trade_mobile_screen {
                            display: block;
                            margin-top: 18px;
                            margin-bottom: 17px;
                        }

                        .trubka_dlya_mobili {
                            display: block;
                            width: 20px;
                            height: 20px;

                        }


                        ul {
                            display: none;
                        }
                    }
                }
            }

            .container {
                hgroup {
                    h1 {
                        color: #FFF;
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 46px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                        /* 55.2px */
                        margin-left: 15px;
                    }

                    h3 {
                        color: #FFF;
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 19px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 24.7px */
                        letter-spacing: 0.19px;
                        margin-top: -40px;
                        margin-left: 15px;
                    }
                }

                .letsgo {
                    margin-top: -176px;

                }

                .dlia_wide_screen {
                    display: none;
                }

                .dlia_mobile_screen {
                    display: none;
                }

            }
        }

        .page2 {
            .container {
                .uslugi {
                    grid-template-columns: 360px;
                    grid-template-rows: 250px 250px 250px;

                    .gelic {
                        background-image: url('../img/Rectangle 21.png');
                        grid-column: 1;
                        grid-row: 1;

                        p {
                            margin-left: 30px;
                        }

                        .more {
                            position: relative;
                            top: 119px;
                            right: -190px;
                        }
                    }

                    .koleso {
                        background-image: url('../img/Rectangle 21 (1).png');
                        grid-column: 1;
                        grid-row: 2;

                        p {
                            margin-left: 30px;
                        }

                        .more {
                            position: relative;
                            top: 119px;
                            right: -189px;
                        }

                    }

                    .fara {
                        background-image: url('../img/Rectangle 21 (2).png');
                        grid-column: 1;
                        grid-row: 3;

                        p {
                            margin-left: 30px;
                        }

                        .more {
                            position: relative;
                            top: 119px;
                            right: -189px;
                        }
                    }
                }
            }
        }

        .choose {
            .container {
                .choose_vehicle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 60px;
                    color: #000;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 31.2px */
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }

                .body_type {
                    display: grid;
                    justify-content: center;
                    grid-template-columns: 108px 108px 108px;
                    grid-template-rows: 65px 72px 41px;

                    .bodyTypeButton {
                        grid-column: 1;
                        border: 1px solid #D9D9D9;
                        border-radius: 10px 0px 0px 10px;
                        background-color: #4071CB;
                        color: #FFF;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        text-transform: uppercase;
                    }

                    .brandbutton {
                        grid-column: 2/span 3;
                        border: 1px solid #D9D9D9;
                        border-radius: 10px 0px 0px 10px;
                        color: black;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        text-transform: uppercase;
                    }

                    .suv {display: block;
                        grid-column: 1;
                        grid-row: 2;

                        .suv_wide {
                            width: 108px;
                            height: 40px;
                        }

                        div {
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;




                        }
                    }

                    .sedan { display: block;
                        grid-column: 2;
                        grid-row: 2;

                        .sedan_wide {
                            width: 106px;
                            height: 40px;
                        }

                        div {
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;
                            color: #4071CB;
                            font-family: 'Noto Sans', sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 18.2px */
                            letter-spacing: 0.14px;
                        }
                    }

                    .wagon {display: block;
                        grid-column: 3;
                        grid-row: 2;

                        .wagon_wide {
                            width: 107px;
                            height: 40px;
                        }

                        div {
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;
                            color: #4071CB;
                            font-family: 'Noto Sans', sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 18.2px */
                            letter-spacing: 0.14px;
                        }
                    }

                    .hatch {display: block;
                        grid-column: 1;
                        grid-row: 3;

                        .hatch_wide {
                            width: 108px;
                            height: 40px;
                        }

                        div {
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;
                            color: #4071CB;
                            font-family: 'Noto Sans', sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 18.2px */
                            letter-spacing: 0.14px;
                        }
                    }

                    .ute {display: block;
                        grid-column: 2;
                        grid-row: 3;

                        .ute_wide {
                            width: 108px;
                            height: 40px;
                        }

                        div {
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;
                            color: #4071CB;
                            font-family: 'Noto Sans', sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 18.2px */
                            letter-spacing: 0.14px;
                        }
                    }

                    .convert {display: block;
                        grid-column: 3;
                        grid-row: 3;

                        .convert_wide {
                            width: 108px;
                            height: 40px;
                        }

                        div {
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;
                            color: #4071CB;
                            font-family: 'Noto Sans', sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 18.2px */
                            letter-spacing: 0.14px;
                        }
                    }
                    
                }
                .block{display: none;}
            }
        }

        .container {
            display: flex;
            align-items: center;

            .show_all {
                display: flex;
                width: 145px;
                height: 35px;
                padding: 10px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                border-radius: 8px;
                border: 1px solid #4071CB;
                margin-top: 40px;
                color: #4071CB;
                position: relative;
                right: 0%;
            }
        }

        .hot_deals {
            .container {
                .hotDeals {
                    color: #000;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 39px */
                    letter-spacing: 1.5px;
                    margin-top: 0px;
                    margin-bottom: 34px;
                    display: flex;
                    justify-content: center;
                }

                .kartochki {
                    display: grid;
                    grid-template-columns: 325px;
                    grid-template-rows: 325px 325px 325px 325px;
                    justify-content: center;
                    grid-column-gap: 13px;
                    grid-row-gap: 34px;

                    .kart {

                        border-radius: 10px;
                        border: 1px solid #D9D9D9;
                        background: #F1F0EB;

                        .nameOfCar {
                            display: flex;

                            p {
                                margin-right: 80px;
                                margin-left: 20px;
                                margin-bottom: 0px;
                            }
                        }

                        .yearOfvipusk {
                            color: #000;
                            font-family: 'Noto Sans', sans-serif;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 13px */
                            letter-spacing: 1.2px;
                            margin-left: 20px;
                            margin-top: -0px;
                        }

                        .foto_avtom {
                            width: 223px;
                            height: 111px;

                        }

                        .znachki {


                            img {
                                width: 49px;
                                height: 22px;

                            }
                        }

                        .cost {
                            display: flex;
                            width: 285px;
                            height: 45px;
                            padding: 10px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 8px;
                            border: 1px solid #000;
                        }
                    }
                }
            }
        }

        .foto_maseratti {
            .container {
                margin-top: 60px;

                .maseratti_wide {
                    display: none;
                }

                .maseratti_mobile {
                    display: block;
                    width: 360px;
                    height: 450px;
                }
            }
        }

        .kak_kupit_avto_s_dostavkoi {
            .container {
                margin-top: 75px;

                p {
                    color: #000;
                    text-align: center;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 145%;
                    /* 29px */
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }

                .instruction {
                    display: grid;
                    grid-template-columns: 360px;
                    grid-template-rows: 165px 165px 165px;
                    grid-row-gap: 10px;



                    .zayavka {
                        grid-column: 1;
                        grid-row: 1;
                        border-radius: 10px;
                        border: 1px solid #4F4F4F;
                    }

                    .dogovor {
                        grid-column: 1;
                        grid-row: 2;
                        border-radius: 10px;
                        border: 1px solid #4F4F4F;
                    }

                    .oplata {
                        grid-column: 1;
                        grid-row: 3;
                        border-radius: 10px;
                        border: 1px solid #4F4F4F;
                    }

                }

                .instruction_1 {
                    margin-top: 10px;
                    display: grid;
                    grid-template-columns: 360px;
                    grid-template-rows: 165px 245px;
                    grid-row-gap: 10px;


                    .dostavka {
                        grid-column: 1;
                        grid-row: 1;
                        border-radius: 10px;
                        border: 1px solid #4F4F4F;
                    }

                    .otpravit_zapros {
                        grid-column: 1;
                        grid-row: 2;
                        border-radius: 10px;
                        border: 1px solid #4F4F4F;


                        .txt_s_knopkoi {
                            display: flex;

                            flex-direction: column;


                            button {
                                width: 285px;
                                height: 45px;
                                border-radius: 8px;
                                border: 1px solid #4F4F4F;
                                margin-right: 62px;
                                margin-left: 20px;
                            }
                        }
                    }
                }

            }
        }

        .R8 {
            .container {
                background-image: url('../img/Rectangle 9 (1).png');
                background-repeat: no-repeat;
                margin-top: 63px;

                .kartochki_na_R8 {
                    display: flex;
                    flex-direction: column;


                    .kartochka {

                        width: 315px;
                        height: 102px;
                        flex-shrink: 0;
                        border-radius: 10px;
                        background: rgba(255, 255, 255, 0.60);
                        margin-right: 10px;
                        margin-top: 0px;




                        .txt_1 {
                            color: #000;
                            font-family: 'Noto Sans', sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 31.2px */
                            letter-spacing: 0.24px;

                            padding-top: 30px;
                            margin-left: 15px;
                        }

                        .txt2 {
                            display: none;

                        }

                        .txt_3 {
                            display: none;
                        }
                    }
                }
            }
        }

        footer {
            border: solid 1px #D9D9D9;
            margin-top: 66px;

            .container {



                .foot_s_gridami {
                    display: grid;
                    grid-template-columns: 350px;
                    grid-template-rows: 40px 32px 15px 25px 55px;
                    grid-row-gap: 60px;

                    .foot_s_logo {
                        grid-column: 1;
                        grid-row: 1;
                        color: #4F4F4F;
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                        margin-top: 47px;
                    }

                    .foot_s_nomerom {
                        grid-column: 1;
                        grid-row: 2;
                        display: flex;
                        flex-direction: column;
                        margin-top: 47px;

                        p {
                            color: #000;
                            font-family: Inter;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                        }

                        div {
                            color: #000;
                            font-family: 'Noto Sans', sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;

                            img {
                                margin-left: 20px;
                            }
                        }

                    }

                    .foot_s_knopkoi {
                        grid-column: 1;
                        grid-row: 4;
                        border-radius: 6px;
                        margin-top: 47px;

                        button {
                            width: 250px;
                            height: 55px;
                            border-radius: 6px;
                            background: #000;
                            color: #FFF;
                        }

                    }

                    .foot_s_silkami {
                        display: none;
                    }

                    .foot_s_adresom {
                        grid-column: 1;
                        grid-row: 4;

                        .divvv1 {
                            color: #000;
                            font-family: Inter;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                        }

                        .divvv2 {
                            color: #000;
                            font-family: 'Noto Sans', sans-serif;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }
        }

        .footer_1 {

            .container {
                display: grid;
                grid-template-columns: 117px 117px 117px;
                grid-template-rows: 59px 47px 47px;
                grid-row-gap: 30px;


                .invoice {
                    margin-right: 8px;
                    border-radius: 7px;
                    border: 1px solid #D9D9D9;
                    width: 117px;
                    height: 59px;
                    flex-shrink: 0;
                    margin-bottom: 0px;

                    p {
                        color: #4F4F4F;
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 14.3px */
                        letter-spacing: 0.66px;
                        text-transform: uppercase;
                        position: relative;
                        top: -15px;
                        right: -60px;
                    }

                    .div_so_znachkami {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 14px;
                        margin-left: 14px;
                        margin-right: 14px;

                        .second_kartinka {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }

                .USDT {
                    margin-right: 8px;
                    border-radius: 7px;
                    border: 1px solid #D9D9D9;
                    width: 117px;
                    height: 59px;
                    flex-shrink: 0;

                    p {
                        color: #4F4F4F;
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 14.3px */
                        letter-spacing: 0.66px;
                        text-transform: uppercase;
                        position: relative;
                        top: 24px;
                        right: -76px;
                    }

                    img {
                        float: right;
                        margin-right: 14px;
                        margin-top: 14px;
                    }
                }

                .cash {
                    margin-right: 55px;
                    border-radius: 7px;
                    border: 1px solid #D9D9D9;
                    width: 117px;
                    height: 59px;
                    flex-shrink: 0;

                    p {
                        color: #4F4F4F;
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 14.3px */
                        letter-spacing: 0.66px;
                        text-transform: uppercase;
                        position: relative;
                        top: -7px;
                        right: -77px;

                    }

                    .div_so_znachkami_1 {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 14px;
                        margin-left: 14px;
                        margin-right: 14px;

                        .second_kartinka {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }

                .facebook {
                    float: left;
                    border-radius: 7px;
                    border: 1px solid #D9D9D9;
                    width: 177px;
                    height: 47px;
                    flex-shrink: 0;
                    margin-right: 6px;
                    grid-column: 1/span 3;
                    grid-row: 2;
                   justify-content: center;
                   align-items: center;


                    p {
                        color: #4F4F4F;
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 14.3px */
                        letter-spacing: 0.66px;
                        text-transform: uppercase;
                        position: relative;
                        top: 6px;
                        right: -44px;
                    }

                    img {
                        float: right;
                        margin-top: 14px;
                        margin-right: 14px;
                    }
                }

                .instagram {
                    margin-right: 8px;
                    border-radius: 7px;
                    border: 1px solid #D9D9D9;
                    width: 177px;
                    height: 47px;
                    flex-shrink: 0;
                    grid-column: 1/span 3;
                    grid-row: 3;

                    p {
                        color: #4F4F4F;
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 14.3px */
                        letter-spacing: 0.66px;
                        text-transform: uppercase;
                        position: relative;
                        top: 5px;
                        right: -32px;
                    }

                    img {
                        float: right;
                        margin-top: 14px;
                        margin-right: 14px;
                    }

                }
            }
        }
    }
}