.griddd_2 {
  display: grid;
  grid-template-columns: 142px 142px;
  grid-template-rows: 50px 50px 50px 50px;
  grid-row-gap: 12px;
  grid-column-gap: 8px; }
  .griddd_2 .griddd_21 {
    grid-column: 1;
    grid-row: 1;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    display: grid;
    justify-content: center;
    align-items: center; }
  .griddd_2 .griddd_22 {
    grid-column: 2;
    grid-row: 1;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    display: grid;
    justify-content: center;
    align-items: center; }
  .griddd_2 .griddd_23 {
    grid-column: 1;
    grid-row: 2;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    display: grid;
    justify-content: center;
    align-items: center; }
  .griddd_2 .griddd_24 {
    grid-column: 2;
    grid-row: 2;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    display: grid;
    justify-content: center;
    align-items: center; }
  .griddd_2 .griddd_25 {
    grid-column: 1;
    grid-row: 3;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    display: grid;
    justify-content: center;
    align-items: center; }
  .griddd_2 .griddd_26 {
    grid-column: 2;
    grid-row: 3;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    display: grid;
    justify-content: center;
    align-items: center; }
  .griddd_2 .griddd_27 {
    grid-column: 1;
    grid-row: 4;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    display: grid;
    justify-content: center;
    align-items: center; }
  .griddd_2 .griddd_28 {
    grid-column: 2;
    grid-row: 4;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    display: grid;
    justify-content: center;
    align-items: center; }

.container {
  width: 1340px;
  margin: 0 auto; }

.more {
  width: 150px;
  height: 65px;
  color: #FFF;
  font-family: Eurostile Extended;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 18.2px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #4F4F4F;
  background: rgba(255, 255, 255, 0.01); }

.cifra {
  color: #000;
  font-family: Eurostile Extended;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 41.6px */
  letter-spacing: 0.32px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-top: 20px; }

.jirn_text {
  color: #000;
  font-family: Eurostile Extended;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 31.2px */
  letter-spacing: 0.24px;
  margin-bottom: 8px;
  padding-left: 20px; }

.txt {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 23.4px */
  letter-spacing: 0.18px;
  padding-left: 20px; }

.knopka_so_spiskom_avto {
  display: flex;
  justify-content: space-evenly;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  height: 40px;
  overflow: auto;
  border: none; }

.card {
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  background: #F1F0EB;
  margin-right: 13px;
  margin-bottom: 50px;
  width: 325px;
  height: 325px; }

.card-body1 {
  border-radius: 8px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center; }

.card-img-top {
  width: 223px;
  height: 111px; }

.ssylka_na_lexus {
  text-decoration: none;
  color: #000; }

.scelet {
  background-color: #F1F0EB; }
  .scelet header {
    background-image: url("../img/Rectangle 1.png");
    background-size: 1508px; }
    .scelet header .container {
      display: flex;
      justify-content: space-between; }
      .scelet header .container .selects {
        display: flex;
        align-items: center;
        justify-content: center; }
        .scelet header .container .selects .change-lang {
          background: none;
          border: none;
          color: #FFF; }
          .scelet header .container .selects .change-lang option {
            color: black; }
        .scelet header .container .selects .change-currency {
          background: none;
          border: none;
          color: #FFF; }
          .scelet header .container .selects .change-currency option {
            color: black; }
      .scelet header .container .contacts {
        display: flex;
        color: #FFF;
        justify-content: center;
        align-items: center; }
        .scelet header .container .contacts div {
          margin-right: 21px; }
        .scelet header .container .contacts .Request_a_callback {
          background-color: #000;
          height: 55px;
          width: 250px;
          display: flex;
          align-items: center;
          justify-content: center; }
    .scelet header .container1 {
      display: flex;
      border-top: solid 1px #FFF;
      border-bottom: solid 1px #FFF; }
      .scelet header .container1 .s_emblemoi .uat_trade_mobile_screen {
        display: none; }
      .scelet header .container1 .s_emblemoi .uat_trade_wide_screen {
        float: left;
        margin-right: 273px;
        margin-top: 4px;
        margin-bottom: 4px; }
      .scelet header .container1 .s_emblemoi .trubka_dlya_mobili {
        display: none; }
      .scelet header .container1 .s_emblemoi ul {
        float: left; }
        .scelet header .container1 .s_emblemoi ul li {
          float: left;
          color: #FFF;
          list-style-type: none;
          margin-right: 40px; }
          .scelet header .container1 .s_emblemoi ul li a {
            text-decoration: none;
            color: #FFF; }
    .scelet header .container hgroup {
      color: #FFF;
      margin-top: 177px;
      margin-bottom: 366px; }
    .scelet header .container .letsgo {
      margin-top: 630px; }
    .scelet header .container .dlia_wide_screen {
      position: relative;
      top: 621px;
      right: 495px; }
    .scelet header .container .dlia_mobile_screen {
      display: none; }
  .scelet .page2 {
    background-color: #F1F0EB;
    margin-top: 95px; }
    .scelet .page2 .container .uslugi {
      display: grid;
      grid-column-gap: 24px;
      grid-row-gap: 24px;
      grid-template-columns: 658px 658px;
      grid-template-rows: 308px 308px; }
      .scelet .page2 .container .uslugi .gelic {
        background-image: url("../img/Rectangle 4.png");
        grid-column: 1;
        grid-row: 1/span 2;
        color: #FFF; }
        .scelet .page2 .container .uslugi .gelic p {
          margin-left: 30px; }
        .scelet .page2 .container .uslugi .gelic .more {
          position: relative;
          top: 493px;
          right: -476px; }
      .scelet .page2 .container .uslugi .koleso {
        background-image: url("../img/Rectangle 5.png");
        color: #FFF; }
        .scelet .page2 .container .uslugi .koleso p {
          margin-left: 30px; }
        .scelet .page2 .container .uslugi .koleso .more {
          position: relative;
          top: 161px;
          right: -476px; }
      .scelet .page2 .container .uslugi .fara {
        background-image: url("../img/Rectangle 6.png");
        color: #FFF; }
  .scelet .choose .container .choose_vehicle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    color: #000;
    font-family: Eurostile Extended;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 31.2px */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .scelet .choose .container .body_type {
    display: grid;
    justify-content: center;
    grid-template-columns: 182px 182px 182px 182px 182px 182px;
    grid-template-rows: 65px 72px; }
    .scelet .choose .container .body_type .bodyTypeButton {
      grid-column: 1/span 3;
      border: 1px solid #D9D9D9;
      border-radius: 10px 0px 0px 10px;
      background-color: #4071CB;
      color: #FFF;
      display: grid;
      justify-content: center;
      align-items: center;
      text-transform: uppercase; }
    .scelet .choose .container .body_type .brandbutton {
      grid-column: 4/span 3;
      border: 1px solid #D9D9D9;
      border-radius: 10px 0px 0px 10px;
      color: black;
      display: grid;
      justify-content: center;
      align-items: center;
      text-transform: uppercase; }
    .scelet .choose .container .body_type .suv {
      grid-column: 1;
      grid-row: 2; }
      .scelet .choose .container .body_type .suv div {
        text-transform: uppercase;
        display: flex;
        justify-content: center; }
    .scelet .choose .container .body_type .sedan {
      grid-column: 2;
      grid-row: 2; }
      .scelet .choose .container .body_type .sedan div {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        color: #4071CB;
        font-family: Eurostile Extended;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 18.2px */
        letter-spacing: 0.14px; }
    .scelet .choose .container .body_type .wagon {
      grid-column: 3;
      grid-row: 2; }
      .scelet .choose .container .body_type .wagon div {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        color: #4071CB;
        font-family: Eurostile Extended;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 18.2px */
        letter-spacing: 0.14px; }
    .scelet .choose .container .body_type .hatch {
      grid-column: 4;
      grid-row: 2; }
      .scelet .choose .container .body_type .hatch div {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        color: #4071CB;
        font-family: Eurostile Extended;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 18.2px */
        letter-spacing: 0.14px; }
    .scelet .choose .container .body_type .ute {
      grid-column: 5;
      grid-row: 2; }
      .scelet .choose .container .body_type .ute div {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        color: #4071CB;
        font-family: Eurostile Extended;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 18.2px */
        letter-spacing: 0.14px; }
    .scelet .choose .container .body_type .convert {
      grid-column: 6;
      grid-row: 2; }
      .scelet .choose .container .body_type .convert div {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        color: #4071CB;
        font-family: Eurostile Extended;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 18.2px */
        letter-spacing: 0.14px; }
  .scelet .show_all {
    display: flex;
    width: 240px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #4071CB; }
  .scelet .hot_deals .container .hotDeals {
    color: #000;
    font-family: Eurostile Extended;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 39px */
    letter-spacing: 1.5px;
    margin-top: 60px;
    margin-bottom: 34px;
    display: flex;
    justify-content: center; }
  .scelet .hot_deals .container .kartochki {
    display: grid;
    grid-template-columns: 325px 325px 325px 325px;
    grid-template-rows: 325px 325px;
    justify-content: center;
    grid-column-gap: 13px;
    grid-row-gap: 34px; }
    .scelet .hot_deals .container .kartochki .kart {
      border-radius: 10px;
      border: 1px solid #D9D9D9;
      background: #F1F0EB; }
      .scelet .hot_deals .container .kartochki .kart .nameOfCar {
        display: flex; }
        .scelet .hot_deals .container .kartochki .kart .nameOfCar p {
          margin-right: 80px;
          margin-left: 20px;
          margin-bottom: 0px; }
      .scelet .hot_deals .container .kartochki .kart .yearOfvipusk {
        color: #000;
        font-family: Eurostile Extended;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 13px */
        letter-spacing: 1.2px;
        margin-left: 20px;
        margin-top: -0px; }
      .scelet .hot_deals .container .kartochki .kart .foto_avtom {
        width: 223px;
        height: 111px; }
      .scelet .hot_deals .container .kartochki .kart .znachki img {
        width: 49px;
        height: 22px; }
      .scelet .hot_deals .container .kartochki .kart .cost {
        display: flex;
        width: 285px;
        height: 45px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #000; }
  .scelet .foto_maseratti .container {
    margin-top: 60px; }
  .scelet .kak_kupit_avto_s_dostavkoi .container {
    margin-top: 165px; }
    .scelet .kak_kupit_avto_s_dostavkoi .container p {
      display: flex;
      justify-content: center;
      align-content: center;
      text-align: center;
      color: #000;
      text-align: center;
      font-family: Eurostile Extended;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 145%;
      /* 43.5px */
      letter-spacing: 1.5px;
      text-transform: uppercase; }
    .scelet .kak_kupit_avto_s_dostavkoi .container .instruction {
      display: grid;
      grid-template-columns: 325px 560px 428px;
      grid-template-rows: 250px 18px;
      grid-column-gap: 13px; }
      .scelet .kak_kupit_avto_s_dostavkoi .container .instruction .zayavka {
        grid-column: 1;
        grid-row: 1;
        border-radius: 10px;
        border: 1px solid #4F4F4F; }
      .scelet .kak_kupit_avto_s_dostavkoi .container .instruction .dogovor {
        grid-column: 2;
        grid-row: 1;
        border-radius: 10px;
        border: 1px solid #4F4F4F; }
      .scelet .kak_kupit_avto_s_dostavkoi .container .instruction .oplata {
        grid-column: 3;
        grid-row: 1;
        border-radius: 10px;
        border: 1px solid #4F4F4F; }
    .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 {
      display: grid;
      grid-template-columns: 545px 781px;
      grid-template-rows: 245px;
      grid-column-gap: 13px; }
      .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 .dostavka {
        grid-column: 1;
        grid-row: 1;
        border-radius: 10px;
        border: 1px solid #4F4F4F; }
      .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 .otpravit_zapros {
        grid-column: 2;
        grid-row: 1;
        border-radius: 10px;
        border: 1px solid #4F4F4F; }
        .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 .otpravit_zapros .txt_s_knopkoi {
          display: flex;
          justify-content: space-between; }
          .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 .otpravit_zapros .txt_s_knopkoi button {
            width: 285px;
            height: 45px;
            border-radius: 8px;
            border: 1px solid #4F4F4F;
            margin-right: 62px; }
  .scelet .R8 .container {
    background-image: url("../img/Rectangle 9.png");
    margin-top: 110px; }
    .scelet .R8 .container .kartochki_na_R8 {
      display: flex;
      justify-content: center; }
      .scelet .R8 .container .kartochki_na_R8 .kartochka {
        width: 315px;
        height: 325px;
        flex-shrink: 0;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.6);
        margin-right: 10px;
        margin-top: 350px;
        margin-bottom: 25px; }
        .scelet .R8 .container .kartochki_na_R8 .kartochka .txt_1 {
          color: #000;
          font-family: Eurostile Extended;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 31.2px */
          letter-spacing: 0.24px;
          margin-bottom: 103px;
          padding-top: 30px;
          margin-left: 15px; }
        .scelet .R8 .container .kartochki_na_R8 .kartochka .txt2 {
          margin-left: 15px;
          color: #000;
          font-family: Eurostile Extended;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px;
          margin-left: 15px; }
        .scelet .R8 .container .kartochki_na_R8 .kartochka .txt_3 {
          color: #000;
          font-family: Eurostile Extended;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px;
          margin-left: 15px; }
  .scelet footer {
    border: solid 1px #D9D9D9;
    margin-top: 167px; }
    .scelet footer .container .foot_s_gridami {
      display: grid;
      grid-template-columns: 670px 450px 105px;
      grid-template-rows: 178px 50px; }
      .scelet footer .container .foot_s_gridami .foot_s_logo {
        grid-column: 1;
        grid-row: 1;
        color: #4F4F4F;
        font-family: Eurostile Extended;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 18.2px */
        letter-spacing: 0.14px;
        margin-top: 47px; }
      .scelet footer .container .foot_s_gridami .foot_s_nomerom {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        margin-top: 47px; }
        .scelet footer .container .foot_s_gridami .foot_s_nomerom p {
          color: #000;
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 300;
          line-height: normal; }
        .scelet footer .container .foot_s_gridami .foot_s_nomerom div {
          color: #000;
          font-family: Eurostile Extended;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; }
          .scelet footer .container .foot_s_gridami .foot_s_nomerom div img {
            margin-left: 20px; }
      .scelet footer .container .foot_s_gridami .foot_s_knopkoi {
        grid-column: 3;
        grid-row: 1;
        border-radius: 6px;
        margin-top: 47px; }
        .scelet footer .container .foot_s_gridami .foot_s_knopkoi button {
          width: 250px;
          height: 55px;
          border-radius: 6px;
          background: #000;
          color: #FFF; }
      .scelet footer .container .foot_s_gridami .foot_s_silkami {
        grid-column: 1;
        grid-row: 2; }
        .scelet footer .container .foot_s_gridami .foot_s_silkami a {
          text-decoration: none;
          color: #000; }
      .scelet footer .container .foot_s_gridami .foot_s_adresom {
        grid-column: 2/span 3;
        grid-row: 2; }
        .scelet footer .container .foot_s_gridami .foot_s_adresom .divvv1 {
          color: #000;
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 300;
          line-height: normal; }
        .scelet footer .container .foot_s_gridami .foot_s_adresom .divvv2 {
          color: #000;
          font-family: Eurostile Extended;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal; }
  .scelet .footer_1 .container {
    display: flex;
    margin-top: 20px; }
    .scelet .footer_1 .container .invoice {
      margin-right: 8px;
      border-radius: 7px;
      border: 1px solid #D9D9D9;
      width: 200px;
      height: 100px;
      flex-shrink: 0;
      margin-bottom: 141px; }
      .scelet .footer_1 .container .invoice p {
        color: #4F4F4F;
        font-family: Eurostile Extended;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 14.3px */
        letter-spacing: 0.66px;
        text-transform: uppercase;
        position: relative;
        top: 19px;
        right: -138px; }
      .scelet .footer_1 .container .invoice .div_so_znachkami {
        display: flex;
        justify-content: space-between;
        margin-top: 14px;
        margin-left: 14px;
        margin-right: 14px; }
        .scelet .footer_1 .container .invoice .div_so_znachkami .second_kartinka {
          width: 14px;
          height: 14px; }
    .scelet .footer_1 .container .USDT {
      margin-right: 8px;
      border-radius: 7px;
      border: 1px solid #D9D9D9;
      width: 200px;
      height: 100px;
      flex-shrink: 0; }
      .scelet .footer_1 .container .USDT p {
        color: #4F4F4F;
        font-family: Eurostile Extended;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 14.3px */
        letter-spacing: 0.66px;
        text-transform: uppercase;
        position: relative;
        top: 61px;
        right: -156px; }
      .scelet .footer_1 .container .USDT img {
        float: right;
        margin-right: 14px;
        margin-top: 14px; }
    .scelet .footer_1 .container .cash {
      margin-right: 55px;
      border-radius: 7px;
      border: 1px solid #D9D9D9;
      width: 200px;
      height: 100px;
      flex-shrink: 0; }
      .scelet .footer_1 .container .cash p {
        color: #4F4F4F;
        font-family: Eurostile Extended;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 14.3px */
        letter-spacing: 0.66px;
        text-transform: uppercase;
        position: relative;
        top: 29px;
        right: -156px; }
      .scelet .footer_1 .container .cash .div_so_znachkami_1 {
        display: flex;
        justify-content: space-between;
        margin-top: 14px;
        margin-left: 14px;
        margin-right: 14px; }
        .scelet .footer_1 .container .cash .div_so_znachkami_1 .second_kartinka {
          width: 14px;
          height: 14px; }
    .scelet .footer_1 .container .facebook {
      border-radius: 7px;
      border: 1px solid #D9D9D9;
      width: 200px;
      height: 100px;
      flex-shrink: 0;
      margin-right: 6px; }
      .scelet .footer_1 .container .facebook p {
        color: #4F4F4F;
        font-family: Eurostile Extended;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 14.3px */
        letter-spacing: 0.66px;
        text-transform: uppercase;
        position: relative;
        top: 61px;
        right: -121px; }
      .scelet .footer_1 .container .facebook img {
        float: right;
        margin-top: 14px;
        margin-right: 14px; }
    .scelet .footer_1 .container .instagram {
      margin-right: 8px;
      border-radius: 7px;
      border: 1px solid #D9D9D9;
      width: 200px;
      height: 100px;
      flex-shrink: 0; }
      .scelet .footer_1 .container .instagram p {
        color: #4F4F4F;
        font-family: Eurostile Extended;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 14.3px */
        letter-spacing: 0.66px;
        text-transform: uppercase;
        position: relative;
        top: 61px;
        right: -113px; }
      .scelet .footer_1 .container .instagram img {
        float: right;
        margin-top: 14px;
        margin-right: 14px; }

.for_sale_2_str {
  background-color: #F1F0EB;
  display: flex; }
  .for_sale_2_str .forma {
    width: 315px;
    height: 1614px;
    background-color: #FFF; }
    .for_sale_2_str .forma .container111 {
      width: 295px;
      margin: 0 auto; }
  .for_sale_2_str .kartochki_js .container222 {
    width: 1075px;
    margin: 0 auto; }
    .for_sale_2_str .kartochki_js .container222 .knopka_so_spiskom_avto {
      width: 100%; }
    .for_sale_2_str .kartochki_js .container222 #app {
      display: flex;
      width: 1020px;
      flex-flow: wrap;
      justify-content: space-between;
      margin-left: 50px;
      margin-top: 94px; }

.peremotka_str {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 45px 45px 45px 45px 45px 45px 45px;
  grid-template-rows: 45px;
  margin-top: 58px; }
  .peremotka_str .cl1 {
    grid-column: 1;
    grid-row: 1;
    border: 1px solid #989898;
    text-align: center; }
  .peremotka_str .cl2 {
    grid-column: 2;
    grid-row: 1;
    border: 1px solid #989898;
    text-align: center; }
  .peremotka_str .cl3 {
    grid-column: 3;
    grid-row: 1;
    border: 1px solid #989898;
    text-align: center; }
  .peremotka_str .cl4 {
    grid-column: 4;
    grid-row: 1;
    border: 1px solid #989898;
    text-align: center; }
  .peremotka_str .cl5 {
    grid-column: 5;
    grid-row: 1;
    border: 1px solid #989898;
    text-align: center; }
  .peremotka_str .cl6 {
    grid-column: 6;
    grid-row: 1;
    border: 1px solid #989898;
    text-align: center; }
  .peremotka_str .cl7 {
    grid-column: 7;
    grid-row: 1;
    border: 1px solid #989898;
    text-align: center; }

@media screen and (min-width: 320px) and (max-width: 391px) {
  .cifra {
    color: #000;
    font-family: Eurostile Extended;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 41.6px */
    letter-spacing: 0.32px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 20px; }

  .jirn_text {
    color: #000;
    font-family: Eurostile Extended;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 23.4px */
    letter-spacing: 0.18px;
    margin-bottom: 8px;
    padding-left: 20px; }

  .txt {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
    letter-spacing: 0.12px;
    padding-left: 20px;
    padding-bottom: 28px; }

  .container {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }

  .scelet {
    background-color: #F1F0EB; }
    .scelet header {
      background-image: url("../img/Rectangle 17.png");
      background-repeat: no-repeat;
      background-size: 390px; }
      .scelet header .container {
        width: 350px;
        margin: 0 auto;
        display: flex;
        flex-direction: column; }
        .scelet header .container .selects {
          display: none; }
        .scelet header .container .change-currency {
          display: none; }
        .scelet header .container .contacts div {
          display: none; }
        .scelet header .container .contacts .Request_a_callback {
          display: none; }
        .scelet header .container .contacts .whatsapp1 {
          display: none; }
        .scelet header .container .contacts .telegram1 {
          display: none; }
      .scelet header .container1 {
        border-top: solid 1px #989898;
        border-bottom: solid 1px #989898; }
        .scelet header .container1 .container .s_emblemoi {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .scelet header .container1 .container .s_emblemoi .svg_3_poloski {
            display: block;
            position: static; }
          .scelet header .container1 .container .s_emblemoi .uat_trade_wide_screen {
            display: none; }
          .scelet header .container1 .container .s_emblemoi .uat_trade_mobile_screen {
            display: block;
            margin-top: 18px;
            margin-bottom: 17px; }
          .scelet header .container1 .container .s_emblemoi .trubka_dlya_mobili {
            display: block;
            width: 20px;
            height: 20px; }
          .scelet header .container1 .container .s_emblemoi ul {
            display: none; }
      .scelet header .container hgroup h1 {
        color: #FFF;
        font-family: Eurostile Extended;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 55.2px */
        margin-left: 15px; }
      .scelet header .container hgroup h3 {
        color: #FFF;
        font-family: Eurostile Extended;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 24.7px */
        letter-spacing: 0.19px;
        margin-top: -40px;
        margin-left: 15px; }
      .scelet header .container hgroup .letsgo {
        margin-top: 0px;
        z-index: 0; }
      .scelet header .container hgroup .dlia_wide_screen {
        display: none; }
      .scelet header .container hgroup .dlia_mobile_screen {
        display: block;
        position: relative;
        top: -815px;
        right: 0px; }
    .scelet .page2 .container .uslugi {
      grid-template-columns: 360px;
      grid-template-rows: 250px 250px 250px; }
      .scelet .page2 .container .uslugi .gelic {
        background-image: url("../img/Rectangle 21.png");
        grid-column: 1;
        grid-row: 1; }
        .scelet .page2 .container .uslugi .gelic p {
          margin-left: 30px; }
        .scelet .page2 .container .uslugi .gelic .more {
          position: relative;
          top: 493px;
          right: -476px; }
      .scelet .page2 .container .uslugi .koleso {
        background-image: url("../img/Rectangle 21 (1).png");
        grid-column: 1;
        grid-row: 2; }
        .scelet .page2 .container .uslugi .koleso p {
          margin-left: 30px; }
        .scelet .page2 .container .uslugi .koleso .more {
          position: relative;
          top: 161px;
          right: -476px; }
      .scelet .page2 .container .uslugi .fara {
        background-image: url("../img/Rectangle 21 (2).png");
        grid-column: 1;
        grid-row: 3; }
        .scelet .page2 .container .uslugi .fara p {
          margin-left: 30px; }
        .scelet .page2 .container .uslugi .fara .more {
          position: relative;
          top: 161px;
          right: -476px; }
    .scelet .choose .container .choose_vehicle {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 140px;
      color: #000;
      font-family: Eurostile Extended;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 31.2px */
      letter-spacing: 1.2px;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .scelet .choose .container .body_type {
      display: grid;
      justify-content: center;
      grid-template-columns: 108px 108px 108px;
      grid-template-rows: 65px 72px 41px; }
      .scelet .choose .container .body_type .bodyTypeButton {
        grid-column: 1;
        border: 1px solid #D9D9D9;
        border-radius: 10px 0px 0px 10px;
        background-color: #4071CB;
        color: #FFF;
        display: grid;
        justify-content: center;
        align-items: center;
        text-transform: uppercase; }
      .scelet .choose .container .body_type .brandbutton {
        grid-column: 2/span 3;
        border: 1px solid #D9D9D9;
        border-radius: 10px 0px 0px 10px;
        color: black;
        display: grid;
        justify-content: center;
        align-items: center;
        text-transform: uppercase; }
      .scelet .choose .container .body_type .suv {
        grid-column: 1;
        grid-row: 2; }
        .scelet .choose .container .body_type .suv .suv_wide {
          width: 108px;
          height: 40px; }
        .scelet .choose .container .body_type .suv div {
          text-transform: uppercase;
          display: flex;
          justify-content: center; }
      .scelet .choose .container .body_type .sedan {
        grid-column: 2;
        grid-row: 2; }
        .scelet .choose .container .body_type .sedan .sedan_wide {
          width: 106px;
          height: 40px; }
        .scelet .choose .container .body_type .sedan div {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          color: #4071CB;
          font-family: Eurostile Extended;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px; }
      .scelet .choose .container .body_type .wagon {
        grid-column: 3;
        grid-row: 2; }
        .scelet .choose .container .body_type .wagon .wagon_wide {
          width: 107px;
          height: 40px; }
        .scelet .choose .container .body_type .wagon div {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          color: #4071CB;
          font-family: Eurostile Extended;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px; }
      .scelet .choose .container .body_type .hatch {
        grid-column: 1;
        grid-row: 3; }
        .scelet .choose .container .body_type .hatch .hatch_wide {
          width: 108px;
          height: 40px; }
        .scelet .choose .container .body_type .hatch div {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          color: #4071CB;
          font-family: Eurostile Extended;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px; }
      .scelet .choose .container .body_type .ute {
        grid-column: 2;
        grid-row: 3; }
        .scelet .choose .container .body_type .ute .ute_wide {
          width: 108px;
          height: 40px; }
        .scelet .choose .container .body_type .ute div {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          color: #4071CB;
          font-family: Eurostile Extended;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px; }
      .scelet .choose .container .body_type .convert {
        grid-column: 3;
        grid-row: 3; }
        .scelet .choose .container .body_type .convert .convert_wide {
          width: 108px;
          height: 40px; }
        .scelet .choose .container .body_type .convert div {
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          color: #4071CB;
          font-family: Eurostile Extended;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px; }
    .scelet .container {
      display: flex;
      align-items: center; }
      .scelet .container .show_all {
        display: flex;
        width: 145px;
        height: 35px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #4071CB;
        margin-top: 40px;
        color: #4071CB; }
    .scelet .hot_deals .container .hotDeals {
      color: #000;
      font-family: Eurostile Extended;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 39px */
      letter-spacing: 1.5px;
      margin-top: 60px;
      margin-bottom: 34px;
      display: flex;
      justify-content: center; }
    .scelet .hot_deals .container .kartochki {
      display: grid;
      grid-template-columns: 325px;
      grid-template-rows: 325px 325px 325px 325px;
      justify-content: center;
      grid-column-gap: 13px;
      grid-row-gap: 34px; }
      .scelet .hot_deals .container .kartochki .kart {
        border-radius: 10px;
        border: 1px solid #D9D9D9;
        background: #F1F0EB; }
        .scelet .hot_deals .container .kartochki .kart .nameOfCar {
          display: flex; }
          .scelet .hot_deals .container .kartochki .kart .nameOfCar p {
            margin-right: 80px;
            margin-left: 20px;
            margin-bottom: 0px; }
        .scelet .hot_deals .container .kartochki .kart .yearOfvipusk {
          color: #000;
          font-family: Eurostile Extended;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 13px */
          letter-spacing: 1.2px;
          margin-left: 20px;
          margin-top: -0px; }
        .scelet .hot_deals .container .kartochki .kart .foto_avtom {
          width: 223px;
          height: 111px; }
        .scelet .hot_deals .container .kartochki .kart .znachki img {
          width: 49px;
          height: 22px; }
        .scelet .hot_deals .container .kartochki .kart .cost {
          display: flex;
          width: 285px;
          height: 45px;
          padding: 10px;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: 1px solid #000; }
    .scelet .foto_maseratti .container {
      margin-top: 60px; }
      .scelet .foto_maseratti .container .maseratti_wide {
        display: none; }
      .scelet .foto_maseratti .container .maseratti_mobile {
        width: 360px;
        height: 450px; }
    .scelet .kak_kupit_avto_s_dostavkoi .container {
      margin-top: 165px; }
      .scelet .kak_kupit_avto_s_dostavkoi .container p {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        color: #000;
        text-align: center;
        font-family: Eurostile Extended;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        /* 43.5px */
        letter-spacing: 1.5px;
        text-transform: uppercase; }
      .scelet .kak_kupit_avto_s_dostavkoi .container .instruction {
        display: grid;
        grid-template-columns: 360px;
        grid-template-rows: 165px 165px 165px;
        grid-column-gap: 13px; }
        .scelet .kak_kupit_avto_s_dostavkoi .container .instruction .zayavka {
          grid-column: 1;
          grid-row: 1;
          border-radius: 10px;
          border: 1px solid #4F4F4F; }
        .scelet .kak_kupit_avto_s_dostavkoi .container .instruction .dogovor {
          grid-column: 1;
          grid-row: 2;
          border-radius: 10px;
          border: 1px solid #4F4F4F; }
        .scelet .kak_kupit_avto_s_dostavkoi .container .instruction .oplata {
          grid-column: 1;
          grid-row: 3;
          border-radius: 10px;
          border: 1px solid #4F4F4F; }
      .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 {
        display: grid;
        grid-template-columns: 360px;
        grid-template-rows: 165px 245px;
        grid-column-gap: 13px; }
        .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 .dostavka {
          grid-column: 1;
          grid-row: 1;
          border-radius: 10px;
          border: 1px solid #4F4F4F; }
        .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 .otpravit_zapros {
          grid-column: 1;
          grid-row: 2;
          border-radius: 10px;
          border: 1px solid #4F4F4F; }
          .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 .otpravit_zapros .txt_s_knopkoi {
            display: flex;
            flex-direction: column; }
            .scelet .kak_kupit_avto_s_dostavkoi .container .instruction_1 .otpravit_zapros .txt_s_knopkoi button {
              width: 285px;
              height: 45px;
              border-radius: 8px;
              border: 1px solid #4F4F4F;
              margin-right: 62px; }
    .scelet .R8 .container {
      background-image: url("../img/Rectangle 9 (1).png");
      background-repeat: no-repeat;
      margin-top: 110px; }
      .scelet .R8 .container .kartochki_na_R8 {
        display: flex;
        flex-direction: column; }
        .scelet .R8 .container .kartochki_na_R8 .kartochka {
          width: 315px;
          height: 102px;
          flex-shrink: 0;
          border-radius: 10px;
          background: rgba(255, 255, 255, 0.6);
          margin-right: 10px;
          margin-top: 0px; }
          .scelet .R8 .container .kartochki_na_R8 .kartochka .txt_1 {
            color: #000;
            font-family: Eurostile Extended;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            /* 31.2px */
            letter-spacing: 0.24px;
            padding-top: 30px;
            margin-left: 15px; }
          .scelet .R8 .container .kartochki_na_R8 .kartochka .txt2 {
            display: none; }
          .scelet .R8 .container .kartochki_na_R8 .kartochka .txt_3 {
            display: none; }
    .scelet footer {
      border: solid 1px #D9D9D9;
      margin-top: 167px; }
      .scelet footer .container .foot_s_gridami {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 40px 32px 15px 25px 55px;
        grid-row-gap: 60px; }
        .scelet footer .container .foot_s_gridami .foot_s_logo {
          grid-column: 1;
          grid-row: 1;
          color: #4F4F4F;
          font-family: Eurostile Extended;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          /* 18.2px */
          letter-spacing: 0.14px;
          margin-top: 47px; }
        .scelet footer .container .foot_s_gridami .foot_s_nomerom {
          grid-column: 1;
          grid-row: 2;
          display: flex;
          flex-direction: column;
          margin-top: 47px; }
          .scelet footer .container .foot_s_gridami .foot_s_nomerom p {
            color: #000;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: normal; }
          .scelet footer .container .foot_s_gridami .foot_s_nomerom div {
            color: #000;
            font-family: Eurostile Extended;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; }
            .scelet footer .container .foot_s_gridami .foot_s_nomerom div img {
              margin-left: 20px; }
        .scelet footer .container .foot_s_gridami .foot_s_knopkoi {
          grid-column: 1;
          grid-row: 4;
          border-radius: 6px;
          margin-top: 47px; }
          .scelet footer .container .foot_s_gridami .foot_s_knopkoi button {
            width: 250px;
            height: 55px;
            border-radius: 6px;
            background: #000;
            color: #FFF; }
        .scelet footer .container .foot_s_gridami .foot_s_silkami {
          display: none; }
        .scelet footer .container .foot_s_gridami .foot_s_adresom {
          grid-column: 1;
          grid-row: 4; }
          .scelet footer .container .foot_s_gridami .foot_s_adresom .divvv1 {
            color: #000;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: normal; }
          .scelet footer .container .foot_s_gridami .foot_s_adresom .divvv2 {
            color: #000;
            font-family: Eurostile Extended;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; } }

/*# sourceMappingURL=style_header.css.map */
