.container {
    width: 1340px;
    margin: 0 auto;
}

.marki {
    width: 50px;
    height: 90px;
}

.scelet {
    background-color: #F1F0EB;

    header {
        background-image: url('../img/Rectangle 1.png');
        //background-size: 1508px;



        .container {
            display: flex;
            justify-content: space-between;

            .selects {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Noto Sans', sans-serif;

                .change-lang {
                    background: none;
                    border: none;
                    color: #FFF;
                    font-family: 'Noto Sans', sans-serif;
                    ;

                    option {
                        color: black;
                        font-family: 'Noto Sans', sans-serif;
                    }

                }

                .change-currency {
                    background: none;
                    border: none;
                    color: #FFF;
                    font-family: 'Noto Sans', sans-serif;
                    ;

                    option {
                        color: black;
                        font-family: 'Noto Sans', sans-serif;
                    }
                }
            }

            .contacts {
                display: flex;
                color: #FFF;
                justify-content: center;
                align-items: center;
                font-family: 'Noto Sans', sans-serif;

                div {
                    margin-right: 21px;
                    font-family: 'Noto Sans', sans-serif;
                }

                .Request_a_callback {
                    background-color: #000;
                    height: 55px;
                    width: 250px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Noto Sans', sans-serif;
                }
            }


        }

        .container1 {
            display: flex;
            border-top: solid 1px #FFF;
            border-bottom: solid 1px #FFF;




            .s_emblemoi {
                .svg_3_poloski {
                    display: none;
                }

                .uat_trade_mobile_screen {
                    display: none;
                }

                .uat_trade_wide_screen {
                    float: left;
                    margin-right: 273px;

                    margin-top: 4px;
                    margin-bottom: 4px;
                }

                .trubka_dlya_mobili {
                    display: none;
                }


                ul {
                    float: left;

                    li {
                        float: left;
                        color: #FFF;
                        list-style-type: none;
                        margin-right: 40px;

                        a {
                            text-decoration: none;
                            color: #FFF;
                            font-family: 'Noto Sans', sans-serif;
                        }
                    }
                }

            }

        }

        .container {
            hgroup {
                color: #FFF;
                margin-top: 177px;
                margin-bottom: 366px;
                font-family: 'Noto Sans', sans-serif;



            }

            .letsgo {
                margin-top: 0px;

            }

            .dlia_wide_screen {
                position: relative;
                top: 621px;
                right: 495px;
            }

            .dlia_mobile_screen {
                display: none;
            }


        }
    }

    .str_3_autoparts {
        .container {
            h1 {
                text-transform: uppercase;
                text-align: center;
                font-family: 'Noto Sans', sans-serif;
            }

            P {
                font-family: 'Noto Sans', sans-serif;
                text-align: center;
            }

        }
    }

    .choose {
        .container {
            .choose_vehicle {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                color: #000;
                font-family: 'Eurostile Extended', sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                /* 31.2px */
                letter-spacing: 1.2px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            .body_type {
                display: grid;
                justify-content: center;
                grid-template-columns: 182px 182px 182px 182px 182px 182px;
                grid-template-rows: 65px;

                .bodyTypeButton {
                    grid-column: 1/span 3;
                    grid-row: 1;
                    border: 1px solid #D9D9D9;
                    border-radius: 10px 0px 0px 10px;
                    background-color: #4071CB;
                    color: #FFF;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                }

                .bodyTypeButton:hover {
                    box-shadow: 0 0 30px rgb(73, 73, 221);
                }

                .brandbutton {
                    grid-column: 4/span 3;
                    grid-row: 1;
                    border: 1px solid #D9D9D9;
                    border-radius: 10px 0px 0px 10px;
                    color: black;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                }

                .brandbutton:hover {
                    box-shadow: 0 0 30px rgb(73, 73, 221);
                }

                .suv {
                    display: none;
                    grid-column: 1;
                    grid-row: 2;

                    .suv_wide {
                        width: 108px;
                        height: 40px;
                    }

                    div {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;




                    }
                }

                .sedan {
                    display: none;
                    grid-column: 2;
                    grid-row: 2;

                    .sedan_wide {
                        width: 106px;
                        height: 40px;
                    }

                    div {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        color: #4071CB;
                        font-family: 'Eurostile Extended', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                    }
                }

                .wagon {
                    display: none;
                    grid-column: 3;
                    grid-row: 2;

                    .wagon_wide {
                        width: 107px;
                        height: 40px;
                    }

                    div {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        color: #4071CB;
                        font-family: 'Eurostile Extended', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                    }
                }

                .hatch {
                    display: none;
                    grid-column: 1;
                    grid-row: 3;

                    .hatch_wide {
                        width: 108px;
                        height: 40px;
                    }

                    div {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        color: #4071CB;
                        font-family: 'Eurostile Extended', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                    }
                }

                .ute {
                    display: none;
                    grid-column: 2;
                    grid-row: 3;

                    .ute_wide {
                        width: 108px;
                        height: 40px;
                    }

                    div {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        color: #4071CB;
                        font-family: 'Eurostile Extended', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                    }
                }

                .convert {
                    display: none;
                    grid-column: 3;
                    grid-row: 3;

                    .convert_wide {
                        width: 108px;
                        height: 40px;
                    }

                    div {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        color: #4071CB;
                        font-family: 'Eurostile Extended', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                    }
                }




            }

            
        }
    }

    .kartochki_js_1 {
        .container222 {
            width: 1075px;
            margin: 0 auto;


            .knopka_so_spiskom_avto {
                width: 100%;
            }

            #app {
                display: flex;
                width: 1020px;


                flex-flow: wrap;
                justify-content: space-between;
                margin-left: 50px;
                margin-top: 94px;
            }
        }
    }

    .container {
        .uslugi {
            display: grid;
            grid-column-gap: 24px;
            grid-row-gap: 24px;
            grid-template-columns: 658px 658px;
            grid-template-rows: 308px;


            .gelic {
                background-image: url('../img/Rectangle 4.png');
                background-size: 658px 308px;
                background-repeat: no-repeat;
                grid-column: 1;
                grid-row: 1;
                color: #FFF;

                p {
                    margin-left: 30px;
                }

                .more {
                    position: relative;
                    top: 191px;
                    right: -576px;
                }
            }

            .koleso {
                display: none;
            }



            .fara {
                background-image: url('../img/Rectangle 6.png');
                color: #FFF;
                grid-column: 2;
                grid-row: 1;


            }
        }
    }

    footer {
        border: solid 1px #D9D9D9;
        margin-top: 167px;

        .container {



            .foot_s_gridami {
                display: grid;
                grid-template-columns: 670px 450px 105px;
                grid-template-rows: 178px 50px;

                .foot_s_logo {
                    grid-column: 1;
                    grid-row: 1;
                    color: #4F4F4F;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 18.2px */
                    letter-spacing: 0.14px;
                    margin-top: 47px;
                }

                .foot_s_nomerom {
                    grid-column: 2;
                    grid-row: 1;
                    display: flex;
                    flex-direction: column;
                    margin-top: 47px;

                    p {
                        color: #000;
                        font-family: Inter;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    div {
                        color: #000;
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        img {
                            margin-left: 20px;
                        }
                    }

                }

                .foot_s_knopkoi {
                    grid-column: 3;
                    grid-row: 1;
                    border-radius: 6px;
                    margin-top: 47px;

                    button {
                        width: 250px;
                        height: 55px;
                        border-radius: 6px;
                        background: #000;
                        color: #FFF;
                    }

                }

                .foot_s_silkami {
                    grid-column: 1;
                    grid-row: 2;

                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }

                .foot_s_adresom {
                    grid-column: 2/span 3;
                    grid-row: 2;

                    .divvv1 {
                        color: #000;
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    .divvv2 {
                        color: #000;
                        font-family: 'Noto Sans', sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }

    .footer_1 {

        .container {
            display: flex;
            margin-top: 20px;


            .invoice {
                margin-right: 8px;
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;
                margin-bottom: 141px;

                p {
                    color: #4F4F4F;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 19px;
                    right: -138px;
                }

                .div_so_znachkami {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 14px;
                    margin-left: 14px;
                    margin-right: 14px;

                    .second_kartinka {
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            .USDT {
                margin-right: 8px;
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;

                p {
                    color: #4F4F4F;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 61px;
                    right: -156px;
                }

                img {
                    float: right;
                    margin-right: 14px;
                    margin-top: 14px;
                }
            }

            .cash {
                margin-right: 55px;
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;

                p {
                    color: #4F4F4F;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 29px;
                    right: -156px;

                }

                .div_so_znachkami_1 {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 14px;
                    margin-left: 14px;
                    margin-right: 14px;

                    .second_kartinka {
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            .facebook {
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;
                margin-right: 6px;


                p {
                    color: #4F4F4F;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 61px;
                    right: -121px;
                }

                img {
                    float: right;
                    margin-top: 14px;
                    margin-right: 14px;
                }
            }

            .instagram {
                margin-right: 8px;
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;

                p {
                    color: #4F4F4F;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 61px;
                    right: -113px;
                }

                img {
                    float: right;
                    margin-top: 14px;
                    margin-right: 14px;
                }

            }
        }
    }


}