@mixin mobile ($minw, $maxw) {
    @media screen and (min-width: $minw) and (max-width: $maxw) {
        @content;
    }
}

.griddd_2 {
    display: grid;
    grid-template-columns: 142px 142px;
    grid-template-rows: 50px 50px 50px 50px;
    grid-row-gap: 12px;
    grid-column-gap: 8px;

    .griddd_21 {
        grid-column: 1;
        grid-row: 1;
        border-radius: 3px;
        border: 1px solid #D9D9D9;
        display: grid;
        justify-content: center;
        align-items: center;

    }

    .griddd_22 {
        grid-column: 2;
        grid-row: 1;
        border-radius: 3px;
        border: 1px solid #D9D9D9;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .griddd_23 {
        grid-column: 1;
        grid-row: 2;
        border-radius: 3px;
        border: 1px solid #D9D9D9;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .griddd_24 {
        grid-column: 2;
        grid-row: 2;
        border-radius: 3px;
        border: 1px solid #D9D9D9;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .griddd_25 {
        grid-column: 1;
        grid-row: 3;
        border-radius: 3px;
        border: 1px solid #D9D9D9;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .griddd_26 {
        grid-column: 2;
        grid-row: 3;
        border-radius: 3px;
        border: 1px solid #D9D9D9;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .griddd_27 {
        grid-column: 1;
        grid-row: 4;
        border-radius: 3px;
        border: 1px solid #D9D9D9;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .griddd_28 {
        grid-column: 2;
        grid-row: 4;
        border-radius: 3px;
        border: 1px solid #D9D9D9;
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

.container {
    width: 1340px;
    margin: 0 auto;
}

.more {
    width: 150px;
    height: 65px;
    color: #FFF;
    font-family: Eurostile Extended;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 18.2px */
    letter-spacing: 1.68px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #4F4F4F;
    background: rgba(255, 255, 255, 0.01);

}



.cifra {
    color: #000;
    font-family: Eurostile Extended;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 41.6px */
    letter-spacing: 0.32px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-top: 20px;
}

.jirn_text {
    color: #000;
    font-family: Eurostile Extended;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 31.2px */
    letter-spacing: 0.24px;
    margin-bottom: 8px;
    padding-left: 20px;
}

.txt {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
    letter-spacing: 0.18px;
    padding-left: 20px;
}

.knopka_so_spiskom_avto {
    display: flex;
    justify-content: space-evenly;
    //background-color: black;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;

    height: 40px;
    overflow: auto;
    border: none;
}

.card {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #F1F0EB;
    margin-right: 13px;
    margin-bottom: 50px;

    width: 325px;
    height: 325px;


}

.card-body1 {
    border-radius: 8px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {

    width: 223px;
    height: 111px;
}

.ssylka_na_lexus {
    text-decoration: none;
    color: #000;
}



.scelet {
    background-color: #F1F0EB;

    header {
        background-image: url('../img/Rectangle 1.png');
        background-size: 1508px;



        .container {
            display: flex;
            justify-content: space-between;

            .selects {
                display: flex;
                align-items: center;
                justify-content: center;

                .change-lang {
                    background: none;
                    border: none;
                    color: #FFF;
                    ;

                    option {
                        color: black;
                    }

                }

                .change-currency {
                    background: none;
                    border: none;
                    color: #FFF;
                    ;

                    option {
                        color: black;
                    }
                }
            }

            .contacts {
                display: flex;
                color: #FFF;
                justify-content: center;
                align-items: center;

                div {
                    margin-right: 21px;
                }

                .Request_a_callback {
                    background-color: #000;
                    height: 55px;
                    width: 250px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }


        }

        .container1 {
            display: flex;
            border-top: solid 1px #FFF;
            border-bottom: solid 1px #FFF;




            .s_emblemoi {
                .uat_trade_mobile_screen {
                    display: none;
                }

                .uat_trade_wide_screen {
                    float: left;
                    margin-right: 273px;

                    margin-top: 4px;
                    margin-bottom: 4px;
                }

                .trubka_dlya_mobili {
                    display: none;
                }


                ul {
                    float: left;

                    li {
                        float: left;
                        color: #FFF;
                        list-style-type: none;
                        margin-right: 40px;

                        a {
                            text-decoration: none;
                            color: #FFF;
                        }
                    }
                }

            }

        }

        .container {
            hgroup {
                color: #FFF;
                margin-top: 177px;
                margin-bottom: 366px;
                


            }

            .letsgo {
                margin-top: 630px;
                
            }

            .dlia_wide_screen {
                position: relative;
                top: 621px;
                right: 495px;
            }

            .dlia_mobile_screen {
                display: none;
            }


        }
    }

    .page2 {
        background-color: #F1F0EB;
        margin-top: 95px;

        .container {
            .uslugi {
                display: grid;
                grid-column-gap: 24px;
                grid-row-gap: 24px;
                grid-template-columns: 658px 658px;
                grid-template-rows: 308px 308px;


                .gelic {
                    background-image: url('../img/Rectangle 4.png');
                    grid-column: 1;
                    grid-row: 1/span 2;
                    color: #FFF;

                    p {
                        margin-left: 30px;
                    }

                    .more {
                        position: relative;
                        top: 493px;
                        right: -476px;
                    }
                }

                .koleso {
                    background-image: url('../img/Rectangle 5.png');
                    color: #FFF;

                    p {
                        margin-left: 30px;
                    }

                    .more {
                        position: relative;
                        top: 161px;
                        right: -476px;
                    }
                }

                .fara {
                    background-image: url('../img/Rectangle 6.png');
                    color: #FFF;


                }
            }
        }
    }

    .choose {
        .container {
            .choose_vehicle {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 140px;
                color: #000;
                font-family: Eurostile Extended;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                /* 31.2px */
                letter-spacing: 1.2px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            .body_type {
                display: grid;
                justify-content: center;
                grid-template-columns: 182px 182px 182px 182px 182px 182px;
                grid-template-rows: 65px 72px;

                .bodyTypeButton {
                    grid-column: 1/span 3;
                    border: 1px solid #D9D9D9;
                    border-radius: 10px 0px 0px 10px;
                    background-color: #4071CB;
                    color: #FFF;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                }

                .brandbutton {
                    grid-column: 4/span 3;
                    border: 1px solid #D9D9D9;
                    border-radius: 10px 0px 0px 10px;
                    color: black;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                }

                .suv {
                    grid-column: 1;
                    grid-row: 2;

                    div {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                    }
                }

                .sedan {
                    grid-column: 2;
                    grid-row: 2;

                    div {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        color: #4071CB;
                        font-family: Eurostile Extended;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                    }
                }

                .wagon {
                    grid-column: 3;
                    grid-row: 2;

                    div {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        color: #4071CB;
                        font-family: Eurostile Extended;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                    }
                }

                .hatch {
                    grid-column: 4;
                    grid-row: 2;

                    div {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        color: #4071CB;
                        font-family: Eurostile Extended;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                    }
                }

                .ute {
                    grid-column: 5;
                    grid-row: 2;

                    div {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        color: #4071CB;
                        font-family: Eurostile Extended;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                    }
                }

                .convert {
                    grid-column: 6;
                    grid-row: 2;

                    div {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        color: #4071CB;
                        font-family: Eurostile Extended;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                    }
                }
            }
        }
    }

    .show_all {
        display: flex;
        width: 240px;
        height: 40px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #4071CB;
    }


    .hot_deals {
        .container {
            .hotDeals {
                color: #000;
                font-family: Eurostile Extended;
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                /* 39px */
                letter-spacing: 1.5px;
                margin-top: 60px;
                margin-bottom: 34px;
                display: flex;
                justify-content: center;
            }

            .kartochki {
                display: grid;
                grid-template-columns: 325px 325px 325px 325px;
                grid-template-rows: 325px 325px;
                justify-content: center;
                grid-column-gap: 13px;
                grid-row-gap: 34px;

                .kart {

                    border-radius: 10px;
                    border: 1px solid #D9D9D9;
                    background: #F1F0EB;

                    .nameOfCar {
                        display: flex;

                        p {
                            margin-right: 80px;
                            margin-left: 20px;
                            margin-bottom: 0px;
                        }
                    }

                    .yearOfvipusk {
                        color: #000;
                        font-family: Eurostile Extended;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 13px */
                        letter-spacing: 1.2px;
                        margin-left: 20px;
                        margin-top: -0px;
                    }

                    .foto_avtom {
                        width: 223px;
                        height: 111px;

                    }

                    .znachki {


                        img {
                            width: 49px;
                            height: 22px;

                        }
                    }

                    .cost {
                        display: flex;
                        width: 285px;
                        height: 45px;
                        padding: 10px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 8px;
                        border: 1px solid #000;
                    }
                }
            }
        }
    }

    .foto_maseratti {
        .container {


            margin-top: 60px;
        }
    }

    .kak_kupit_avto_s_dostavkoi {
        .container {
            margin-top: 165px;

            p {
                display: flex;
                justify-content: center;
                align-content: center;
                text-align: center;
                color: #000;
                text-align: center;
                font-family: Eurostile Extended;
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: 145%;
                /* 43.5px */
                letter-spacing: 1.5px;
                text-transform: uppercase;
            }

            .instruction {
                display: grid;
                grid-template-columns: 325px 560px 428px;
                grid-template-rows: 250px 18px;
                grid-column-gap: 13px;


                .zayavka {
                    grid-column: 1;
                    grid-row: 1;
                    border-radius: 10px;
                    border: 1px solid #4F4F4F;
                }

                .dogovor {
                    grid-column: 2;
                    grid-row: 1;
                    border-radius: 10px;
                    border: 1px solid #4F4F4F;
                }

                .oplata {
                    grid-column: 3;
                    grid-row: 1;
                    border-radius: 10px;
                    border: 1px solid #4F4F4F;
                }

            }

            .instruction_1 {
                display: grid;
                grid-template-columns: 545px 781px;
                grid-template-rows: 245px;
                grid-column-gap: 13px;


                .dostavka {
                    grid-column: 1;
                    grid-row: 1;
                    border-radius: 10px;
                    border: 1px solid #4F4F4F;
                }

                .otpravit_zapros {
                    grid-column: 2;
                    grid-row: 1;
                    border-radius: 10px;
                    border: 1px solid #4F4F4F;


                    .txt_s_knopkoi {
                        display: flex;

                        justify-content: space-between;


                        button {
                            width: 285px;
                            height: 45px;
                            border-radius: 8px;
                            border: 1px solid #4F4F4F;
                            margin-right: 62px;
                        }
                    }
                }
            }

        }
    }

    .R8 {
        .container {
            background-image: url('../img/Rectangle\ 9.png');
            margin-top: 110px;

            .kartochki_na_R8 {
                display: flex;
                justify-content: center;


                .kartochka {

                    width: 315px;
                    height: 325px;
                    flex-shrink: 0;
                    border-radius: 10px;
                    background: rgba(255, 255, 255, 0.60);
                    margin-right: 10px;
                    margin-top: 350px;
                    margin-bottom: 25px;


                    .txt_1 {
                        color: #000;
                        font-family: Eurostile Extended;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 31.2px */
                        letter-spacing: 0.24px;
                        margin-bottom: 103px;
                        padding-top: 30px;
                        margin-left: 15px;
                    }

                    .txt2 {
                        margin-left: 15px;
                        color: #000;
                        font-family: Eurostile Extended;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                        margin-left: 15px;

                    }

                    .txt_3 {
                        color: #000;
                        font-family: Eurostile Extended;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    footer {
        border: solid 1px #D9D9D9;
        margin-top: 167px;

        .container {



            .foot_s_gridami {
                display: grid;
                grid-template-columns: 670px 450px 105px;
                grid-template-rows: 178px 50px;

                .foot_s_logo {
                    grid-column: 1;
                    grid-row: 1;
                    color: #4F4F4F;
                    font-family: Eurostile Extended;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 18.2px */
                    letter-spacing: 0.14px;
                    margin-top: 47px;
                }

                .foot_s_nomerom {
                    grid-column: 2;
                    grid-row: 1;
                    display: flex;
                    flex-direction: column;
                    margin-top: 47px;

                    p {
                        color: #000;
                        font-family: Inter;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    div {
                        color: #000;
                        font-family: Eurostile Extended;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        img {
                            margin-left: 20px;
                        }
                    }

                }

                .foot_s_knopkoi {
                    grid-column: 3;
                    grid-row: 1;
                    border-radius: 6px;
                    margin-top: 47px;

                    button {
                        width: 250px;
                        height: 55px;
                        border-radius: 6px;
                        background: #000;
                        color: #FFF;
                    }

                }

                .foot_s_silkami {
                    grid-column: 1;
                    grid-row: 2;

                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }

                .foot_s_adresom {
                    grid-column: 2/span 3;
                    grid-row: 2;

                    .divvv1 {
                        color: #000;
                        font-family: Inter;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    .divvv2 {
                        color: #000;
                        font-family: Eurostile Extended;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }

    .footer_1 {

        .container {
            display: flex;
            margin-top: 20px;


            .invoice {
                margin-right: 8px;
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;
                margin-bottom: 141px;

                p {
                    color: #4F4F4F;
                    font-family: Eurostile Extended;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 19px;
                    right: -138px;
                }

                .div_so_znachkami {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 14px;
                    margin-left: 14px;
                    margin-right: 14px;

                    .second_kartinka {
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            .USDT {
                margin-right: 8px;
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;

                p {
                    color: #4F4F4F;
                    font-family: Eurostile Extended;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 61px;
                    right: -156px;
                }

                img {
                    float: right;
                    margin-right: 14px;
                    margin-top: 14px;
                }
            }

            .cash {
                margin-right: 55px;
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;

                p {
                    color: #4F4F4F;
                    font-family: Eurostile Extended;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 29px;
                    right: -156px;

                }

                .div_so_znachkami_1 {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 14px;
                    margin-left: 14px;
                    margin-right: 14px;

                    .second_kartinka {
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            .facebook {
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;
                margin-right: 6px;


                p {
                    color: #4F4F4F;
                    font-family: Eurostile Extended;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 61px;
                    right: -121px;
                }

                img {
                    float: right;
                    margin-top: 14px;
                    margin-right: 14px;
                }
            }

            .instagram {
                margin-right: 8px;
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;

                p {
                    color: #4F4F4F;
                    font-family: Eurostile Extended;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 61px;
                    right: -113px;
                }

                img {
                    float: right;
                    margin-top: 14px;
                    margin-right: 14px;
                }

            }
        }
    }

}

.for_sale_2_str {
    background-color: #F1F0EB;
    ;
    display: flex;

    .forma {
        width: 315px;
        height: 1614px;
        background-color: #FFF;

        .container111 {
            width: 295px;
            margin: 0 auto;
        }
    }

    .kartochki_js {
        .container222 {
            width: 1075px;
            margin: 0 auto;


            .knopka_so_spiskom_avto {
                width: 100%;
            }

            #app {
                display: flex;
                width: 1020px;


                flex-flow: wrap;
                justify-content: space-between;
                margin-left: 50px;
                margin-top: 94px;
            }
        }
    }

}

.peremotka_str {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 45px 45px 45px 45px 45px 45px 45px;
    grid-template-rows: 45px;
    margin-top: 58px;


    .cl1 {
        grid-column: 1;
        grid-row: 1;
        border: 1px solid #989898;
        text-align: center;
    }

    .cl2 {
        grid-column: 2;
        grid-row: 1;
        border: 1px solid #989898;
        text-align: center;
    }

    .cl3 {
        grid-column: 3;
        grid-row: 1;
        border: 1px solid #989898;
        text-align: center;
    }

    .cl4 {
        grid-column: 4;
        grid-row: 1;
        border: 1px solid #989898;
        text-align: center;
    }

    .cl5 {
        grid-column: 5;
        grid-row: 1;
        border: 1px solid #989898;
        text-align: center;
    }

    .cl6 {
        grid-column: 6;
        grid-row: 1;
        border: 1px solid #989898;
        text-align: center;
    }

    .cl7 {
        grid-column: 7;
        grid-row: 1;
        border: 1px solid #989898;
        text-align: center;
    }

}

@include mobile (320px, 391px) {

    .cifra {
        color: #000;
        font-family: Eurostile Extended;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 41.6px */
        letter-spacing: 0.32px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-top: 20px;
    }

    .jirn_text {
        color: #000;
        font-family: Eurostile Extended;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        /* 23.4px */
        letter-spacing: 0.18px;
        margin-bottom: 8px;
        padding-left: 20px;
    }

    .txt {
        color: #000;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 15.6px */
        letter-spacing: 0.12px;
        padding-left: 20px;
        padding-bottom: 28px;
    }

    .container {
        width: 350px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .scelet {
        background-color: #F1F0EB;

        header {
            background-image: url('../img/Rectangle 17.png');
            background-repeat: no-repeat;
            background-size: 390px;

            .container {
                width: 350px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;

                .selects {
                    display: none;
                }

                .change-currency {
                    display: none;
                }

                .contacts {
                    div {
                        display: none;
                    }

                    .Request_a_callback {
                        display: none;
                    }

                    .whatsapp1 {
                        display: none;
                    }

                    .telegram1 {
                        display: none;
                    }

                }
            }

            .container1 {
                border-top: solid 1px #989898;
                ;
                border-bottom: solid 1px #989898;
                ;

                .container {
                    .s_emblemoi {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .svg_3_poloski {
                            display: block;
                            position: static;
                        }

                        .uat_trade_wide_screen {
                            display: none;
                        }

                        .uat_trade_mobile_screen {
                            display: block;
                            margin-top: 18px;
                            margin-bottom: 17px;
                        }

                        .trubka_dlya_mobili {
                            display: block;
                            width: 20px;
                            height: 20px;

                        }


                        ul {
                            display: none;
                        }
                    }
                }
            }

            .container {
                hgroup {
                    h1 {
                        color: #FFF;
                        font-family: Eurostile Extended;
                        font-size: 46px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                        /* 55.2px */
                        margin-left: 15px;
                    }

                    h3 {
                        color: #FFF;
                        font-family: Eurostile Extended;
                        font-size: 19px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 24.7px */
                        letter-spacing: 0.19px;
                        margin-top: -40px;
                        margin-left: 15px;
                    }

                    .letsgo {
                        margin-top: 0px;
                        z-index: 0;
                    }

                    .dlia_wide_screen {
                        display: none;
                    }

                    .dlia_mobile_screen {
                        display: block;
                        position: relative;
                        top: -815px;
                        right: 0px;
                    }
                }
            }
        }

        .page2 {
            .container {
                .uslugi {
                    grid-template-columns: 360px;
                    grid-template-rows: 250px 250px 250px;

                    .gelic {
                        background-image: url('../img/Rectangle 21.png');
                        grid-column: 1;
                        grid-row: 1;

                        p {
                            margin-left: 30px;
                        }

                        .more {
                            position: relative;
                            top: 493px;
                            right: -476px;
                        }
                    }

                    .koleso {
                        background-image: url('../img/Rectangle 21 (1).png');
                        grid-column: 1;
                        grid-row: 2;

                        p {
                            margin-left: 30px;
                        }

                        .more {
                            position: relative;
                            top: 161px;
                            right: -476px;
                        }

                    }

                    .fara {
                        background-image: url('../img/Rectangle 21 (2).png');
                        grid-column: 1;
                        grid-row: 3;

                        p {
                            margin-left: 30px;
                        }

                        .more {
                            position: relative;
                            top: 161px;
                            right: -476px;
                        }
                    }
                }
            }
        }

        .choose {
            .container {
                .choose_vehicle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 140px;
                    color: #000;
                    font-family: Eurostile Extended;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 31.2px */
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }

                .body_type {
                    display: grid;
                    justify-content: center;
                    grid-template-columns: 108px 108px 108px;
                    grid-template-rows: 65px 72px 41px;

                    .bodyTypeButton {
                        grid-column: 1;
                        border: 1px solid #D9D9D9;
                        border-radius: 10px 0px 0px 10px;
                        background-color: #4071CB;
                        color: #FFF;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        text-transform: uppercase;
                    }

                    .brandbutton {
                        grid-column: 2/span 3;
                        border: 1px solid #D9D9D9;
                        border-radius: 10px 0px 0px 10px;
                        color: black;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        text-transform: uppercase;
                    }

                    .suv {
                        grid-column: 1;
                        grid-row: 2;

                        .suv_wide {
                            width: 108px;
                            height: 40px;
                        }

                        div {
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;




                        }
                    }

                    .sedan {
                        grid-column: 2;
                        grid-row: 2;

                        .sedan_wide {
                            width: 106px;
                            height: 40px;
                        }

                        div {
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;
                            color: #4071CB;
                            font-family: Eurostile Extended;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 18.2px */
                            letter-spacing: 0.14px;
                        }
                    }

                    .wagon {
                        grid-column: 3;
                        grid-row: 2;

                        .wagon_wide {
                            width: 107px;
                            height: 40px;
                        }

                        div {
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;
                            color: #4071CB;
                            font-family: Eurostile Extended;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 18.2px */
                            letter-spacing: 0.14px;
                        }
                    }

                    .hatch {
                        grid-column: 1;
                        grid-row: 3;

                        .hatch_wide {
                            width: 108px;
                            height: 40px;
                        }

                        div {
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;
                            color: #4071CB;
                            font-family: Eurostile Extended;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 18.2px */
                            letter-spacing: 0.14px;
                        }
                    }

                    .ute {
                        grid-column: 2;
                        grid-row: 3;

                        .ute_wide {
                            width: 108px;
                            height: 40px;
                        }

                        div {
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;
                            color: #4071CB;
                            font-family: Eurostile Extended;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 18.2px */
                            letter-spacing: 0.14px;
                        }
                    }

                    .convert {
                        grid-column: 3;
                        grid-row: 3;

                        .convert_wide {
                            width: 108px;
                            height: 40px;
                        }

                        div {
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;
                            color: #4071CB;
                            font-family: Eurostile Extended;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 18.2px */
                            letter-spacing: 0.14px;
                        }
                    }
                }
            }
        }

        .container {
            display: flex;
            align-items: center;

            .show_all {
                display: flex;
                width: 145px;
                height: 35px;
                padding: 10px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                border-radius: 8px;
                border: 1px solid #4071CB;
                margin-top: 40px;
                color: #4071CB;
            }
        }

        .hot_deals {
            .container {
                .hotDeals {
                    color: #000;
                    font-family: Eurostile Extended;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 39px */
                    letter-spacing: 1.5px;
                    margin-top: 60px;
                    margin-bottom: 34px;
                    display: flex;
                    justify-content: center;
                }

                .kartochki {
                    display: grid;
                    grid-template-columns: 325px;
                    grid-template-rows: 325px 325px 325px 325px;
                    justify-content: center;
                    grid-column-gap: 13px;
                    grid-row-gap: 34px;

                    .kart {

                        border-radius: 10px;
                        border: 1px solid #D9D9D9;
                        background: #F1F0EB;

                        .nameOfCar {
                            display: flex;

                            p {
                                margin-right: 80px;
                                margin-left: 20px;
                                margin-bottom: 0px;
                            }
                        }

                        .yearOfvipusk {
                            color: #000;
                            font-family: Eurostile Extended;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 13px */
                            letter-spacing: 1.2px;
                            margin-left: 20px;
                            margin-top: -0px;
                        }

                        .foto_avtom {
                            width: 223px;
                            height: 111px;

                        }

                        .znachki {


                            img {
                                width: 49px;
                                height: 22px;

                            }
                        }

                        .cost {
                            display: flex;
                            width: 285px;
                            height: 45px;
                            padding: 10px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 8px;
                            border: 1px solid #000;
                        }
                    }
                }
            }
        }

        .foto_maseratti {
            .container {
                margin-top: 60px;

                .maseratti_wide {
                    display: none;
                }

                .maseratti_mobile {
                    width: 360px;
                    height: 450px;
                }
            }
        }

        .kak_kupit_avto_s_dostavkoi {
            .container {
                margin-top: 165px;

                p {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    text-align: center;
                    color: #000;
                    text-align: center;
                    font-family: Eurostile Extended;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 145%;
                    /* 43.5px */
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                }

                .instruction {
                    display: grid;
                    grid-template-columns: 360px;
                    grid-template-rows: 165px 165px 165px;
                    grid-column-gap: 13px;


                    .zayavka {
                        grid-column: 1;
                        grid-row: 1;
                        border-radius: 10px;
                        border: 1px solid #4F4F4F;
                    }

                    .dogovor {
                        grid-column: 1;
                        grid-row: 2;
                        border-radius: 10px;
                        border: 1px solid #4F4F4F;
                    }

                    .oplata {
                        grid-column: 1;
                        grid-row: 3;
                        border-radius: 10px;
                        border: 1px solid #4F4F4F;
                    }

                }

                .instruction_1 {
                    display: grid;
                    grid-template-columns: 360px;
                    grid-template-rows: 165px 245px;
                    grid-column-gap: 13px;


                    .dostavka {
                        grid-column: 1;
                        grid-row: 1;
                        border-radius: 10px;
                        border: 1px solid #4F4F4F;
                    }

                    .otpravit_zapros {
                        grid-column: 1;
                        grid-row: 2;
                        border-radius: 10px;
                        border: 1px solid #4F4F4F;


                        .txt_s_knopkoi {
                            display: flex;

                            flex-direction: column;


                            button {
                                width: 285px;
                                height: 45px;
                                border-radius: 8px;
                                border: 1px solid #4F4F4F;
                                margin-right: 62px;
                            }
                        }
                    }
                }

            }
        }

        .R8 {
            .container {
                background-image: url('../img/Rectangle 9 (1).png');
                background-repeat: no-repeat;
                margin-top: 110px;

                .kartochki_na_R8 {
                    display: flex;
                    flex-direction: column;


                    .kartochka {

                        width: 315px;
                        height: 102px;
                        flex-shrink: 0;
                        border-radius: 10px;
                        background: rgba(255, 255, 255, 0.60);
                        margin-right: 10px;
                        margin-top: 0px;




                        .txt_1 {
                            color: #000;
                            font-family: Eurostile Extended;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            /* 31.2px */
                            letter-spacing: 0.24px;

                            padding-top: 30px;
                            margin-left: 15px;
                        }

                        .txt2 {
                            display: none;

                        }

                        .txt_3 {
                            display: none;
                        }
                    }
                }
            }
        }

        footer {
            border: solid 1px #D9D9D9;
            margin-top: 167px;

            .container {



                .foot_s_gridami {
                    display: grid;
                    grid-template-columns: 350px;
                    grid-template-rows: 40px 32px 15px 25px 55px;
                    grid-row-gap: 60px;

                    .foot_s_logo {
                        grid-column: 1;
                        grid-row: 1;
                        color: #4F4F4F;
                        font-family: Eurostile Extended;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 18.2px */
                        letter-spacing: 0.14px;
                        margin-top: 47px;
                    }

                    .foot_s_nomerom {
                        grid-column: 1;
                        grid-row: 2;
                        display: flex;
                        flex-direction: column;
                        margin-top: 47px;

                        p {
                            color: #000;
                            font-family: Inter;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                        }

                        div {
                            color: #000;
                            font-family: Eurostile Extended;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;

                            img {
                                margin-left: 20px;
                            }
                        }

                    }

                    .foot_s_knopkoi {
                        grid-column: 1;
                        grid-row: 4;
                        border-radius: 6px;
                        margin-top: 47px;

                        button {
                            width: 250px;
                            height: 55px;
                            border-radius: 6px;
                            background: #000;
                            color: #FFF;
                        }

                    }

                    .foot_s_silkami {
                        display: none;
                    }

                    .foot_s_adresom {
                        grid-column: 1;
                        grid-row: 4;

                        .divvv1 {
                            color: #000;
                            font-family: Inter;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                        }

                        .divvv2 {
                            color: #000;
                            font-family: Eurostile Extended;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }
        }
    }
}