
.more {
    width: 150px;
    height: 65px;
    color: #FFF;
    font-family: Eurostile Extended;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 18.2px */
    letter-spacing: 1.68px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #4F4F4F;
    background: rgba(255, 255, 255, 0.01);}

.card-img-top {
    width: 500px;
    height: 297px;
}

.card{
    border-radius: 15px;
}

.container {
    width: 1340px;
    margin: 0 auto;
}

.scelet {
    background-color: #F1F0EB;

    header {
        background-image: url('../img/Rectangle 1.png');
        background-size: 1508px;



        .container {
            display: flex;
            justify-content: space-between;

            .selects {
                display: flex;
                align-items: center;
                justify-content: center;

                .change-lang {
                    background: none;
                    border: none;
                    color: #FFF;
                    ;

                    option {
                        color: black;
                    }

                }

                .change-currency {
                    background: none;
                    border: none;
                    color: #FFF;
                    ;

                    option {
                        color: black;
                    }
                }
            }

            .contacts {
                display: flex;
                color: #FFF;
                justify-content: center;
                align-items: center;

                div {
                    margin-right: 21px;
                }

                .Request_a_callback {
                    background-color: #000;
                    height: 55px;
                    width: 250px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }


        }

        .container1 {
            display: flex;
            border-top: solid 1px #FFF;
            border-bottom: solid 1px #FFF;




            .s_emblemoi {
                .svg_3_poloski {
                    display: none;
                }

                .uat_trade_mobile_screen {
                    display: none;
                }

                .uat_trade_wide_screen {
                    float: left;
                    margin-right: 273px;

                    margin-top: 4px;
                    margin-bottom: 4px;
                }

                .trubka_dlya_mobili {
                    display: none;
                }


                ul {
                    float: left;

                    li {
                        float: left;
                        color: #FFF;
                        list-style-type: none;
                        margin-right: 40px;

                        a {
                            text-decoration: none;
                            color: #FFF;
                        }
                    }
                }

            }

        }

        .container {
            hgroup {
                color: #FFF;
                margin-top: 177px;
                margin-bottom: 366px;



            }

            .letsgo {
                margin-top: 0px;

            }

            .dlia_wide_screen {
                position: relative;
                top: 621px;
                right: 495px;
            }

            .dlia_mobile_screen {
                display: none;
            }


        }
    }

    .servicing {
        .container {
            h1 {
                text-align: center;
            }

            .rabota_po_servisu {
                display: flex;
                justify-content: space-between;

                .priemka {
                    border: solid 1px gray;
                    margin: 50px;
                    width: 300px;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border-radius: 15px;
                    background-image: url('../img/1660863029_10-sportishka-com-p-priemka-avto-krasivo-foto-15.jpg');
                    background-size: 300px 200px;
                    color: #a3be08;
                    font-size: 25px;
                    font-weight: bold;
                }

                .Raboti {
                    border: solid 1px gray;
                    margin: 50px;
                    width: 300px;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border-radius: 15px;
                    background-image: url('../img/mA28WROZGeg.jpg');
                    background-size: 300px 200px;
                    color: #ff3838;
                    font-size: 25px;
                    font-weight: bold;
                }

                .Vidacha {
                    border: solid 1px gray;
                    margin: 50px;
                    width: 300px;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border-radius: 15px;
                    background-image: url('../img/e300-02.jpg');
                    background-size: 300px 200px;
                    color: #eafa0c;
                    font-size: 25px;
                    font-weight: bold;
                }


            }

            h2 {
                font-weight: bold;
                text-align: center;
            }

            ul {
                text-transform: uppercase;



            }
        }

    }
    .arenda{
        .container{
            h2{text-align: center;}
        }
    }

    .kartochki_js {
        .container222 {
            width: 1075px;
            margin: 0 auto;


            .knopka_so_spiskom_avto {
                width: 100%;
                margin-top: 30px;
            }

            #app {
                display: flex;
                width: 1020px;


                flex-flow: wrap;
                justify-content: space-between;
                margin-left: 50px;
                margin-top: 94px;
            }
        }
    }

    .container {
        
        .uslugi {
            margin-top: 50px;
            display: grid;
            grid-column-gap: 24px;
            grid-row-gap: 24px;
            grid-template-columns: 550px 550px;
            grid-template-rows: 308px;


            .gelic {
                background-image: url('../img/Rectangle 4.png');
                background-size: 550px 308px;
                background-repeat: no-repeat;
                grid-column: 1;
                grid-row: 1;
                color: #FFF;

                p {
                    margin-left: 30px;
                }

                .more {
                    position: relative;
                    top: 185px;
                    right: -380px;
                }
            }

            .koleso {
                background-image: url('../img/Rectangle 6.png');
                color: #FFF;
                grid-column: 2;
                grid-row: 1;

                p {
                    margin-left: 30px;
                }

                .more {
                    position: relative;
                    top: 185px;
                    right: -380px;
                }
            }



            .fara {
                display: none;


            }
        }
    }
    footer {
        border: solid 1px #D9D9D9;
        margin-top: 167px;

        .container {



            .foot_s_gridami {
                display: grid;
                grid-template-columns: 407px 450px 105px;
                grid-template-rows: 178px 50px;

                .foot_s_logo {
                    grid-column: 1;
                    grid-row: 1;
                    color: #4F4F4F;
                    font-family: Eurostile Extended;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 18.2px */
                    letter-spacing: 0.14px;
                    margin-top: 47px;
                }

                .foot_s_nomerom {
                    grid-column: 2;
                    grid-row: 1;
                    display: flex;
                    flex-direction: column;
                    margin-top: 47px;

                    p {
                        color: #000;
                        font-family: Inter;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    div {
                        color: #000;
                        font-family: Eurostile Extended;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        img {
                            margin-left: 20px;
                        }
                    }

                }

                .foot_s_knopkoi {
                    grid-column: 3;
                    grid-row: 1;
                    border-radius: 6px;
                    margin-top: 47px;

                    button {
                        width: 250px;
                        height: 55px;
                        border-radius: 6px;
                        background: #000;
                        color: #FFF;
                    }

                }

                .foot_s_silkami {
                    grid-column: 1;
                    grid-row: 2;

                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }

                .foot_s_adresom {
                    grid-column: 2/span 3;
                    grid-row: 2;

                    .divvv1 {
                        color: #000;
                        font-family: Inter;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    .divvv2 {
                        color: #000;
                        font-family: Eurostile Extended;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }

    .footer_1 {

        .container {
            display: flex;
            margin-top: 20px;


            .invoice {
                margin-right: 8px;
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;
                margin-bottom: 141px;

                p {
                    color: #4F4F4F;
                    font-family: Eurostile Extended;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 19px;
                    right: -138px;
                }

                .div_so_znachkami {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 14px;
                    margin-left: 14px;
                    margin-right: 14px;

                    .second_kartinka {
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            .USDT {
                margin-right: 8px;
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;

                p {
                    color: #4F4F4F;
                    font-family: Eurostile Extended;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 61px;
                    right: -156px;
                }

                img {
                    float: right;
                    margin-right: 14px;
                    margin-top: 14px;
                }
            }

            .cash {
                margin-right: 55px;
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;

                p {
                    color: #4F4F4F;
                    font-family: Eurostile Extended;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 29px;
                    right: -156px;

                }

                .div_so_znachkami_1 {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 14px;
                    margin-left: 14px;
                    margin-right: 14px;

                    .second_kartinka {
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            .facebook {
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;
                margin-right: 6px;


                p {
                    color: #4F4F4F;
                    font-family: Eurostile Extended;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 61px;
                    right: -121px;
                }

                img {
                    float: right;
                    margin-top: 14px;
                    margin-right: 14px;
                }
            }

            .instagram {
                margin-right: 8px;
                border-radius: 7px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 100px;
                flex-shrink: 0;

                p {
                    color: #4F4F4F;
                    font-family: Eurostile Extended;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 14.3px */
                    letter-spacing: 0.66px;
                    text-transform: uppercase;
                    position: relative;
                    top: 61px;
                    right: -113px;
                }

                img {
                    float: right;
                    margin-top: 14px;
                    margin-right: 14px;
                }

            }
        }
    }


}

