@mixin uzkyi_screen ($w) {
    @media screen and (max-width: $w) {
        @content;
    }
}

body {
    margin: 0 auto;
    box-sizing: border-box;

    .header {
        display: flex;
        background-color: rgb(140, 180, 231);
        align-items: center;
        justify-content: center;
        color: blue;
        height: 60px;
    }

    .menu_sredniy {
        display: flex;

        .spisok_sportov {
            background-color: yellow;

            flex-grow: 1;

            min-width: 200px;
            max-width: 200px;
            flex-basis: 200px;
            margin-right: 20px;

            p {
                margin-left: 20px;
            }
        }

        .miachiki {
            flex-grow: 3;
            background-image: url('../../MAKET_TABLE/bool.png');
            background-repeat: repeat-y;
            background-position: right top;

            div {

                p {

                    font-weight: bold;
                    text-align: center;


                }

                img {
                    float: left;
                    margin: 0 20px 0 0;
                }
            }
        }

    }

    .footer {
        display: flex;
        background-color: rgb(140, 180, 231);
        color: blue;
        align-items: center;
        justify-content: center;
        height: 60px;

    }
}

@include uzkyi_screen(220px) {
    body {
        margin-left: 10px;
        box-sizing: border-box;

        .header {
            display: none;

        }

        .menu_sredniy {
            display: flex;
            flex-direction: column-reverse;

            .spisok_sportov {
                background-color: white;

                p {
                    margin-left: 0;
                }

                ul {
                    list-style-type: none;
                    padding: 0;
                    font-size: 14px;

                    li {
                        float: left;
                        margin-right: 5px;
                    }
                }
            }

            .miachiki {
                background-image: none;


                div {

                    p {

                        font-weight: bold;
                        text-align: center;


                    }

                    img {
                        float: left;
                        margin: 0 0 20px 0;
                    }
                }
            }

        }

        .footer {
            display: none
        }
    }
}