.container {
  width: 1236px;
  margin: 0 auto; }

h2 {
  color: #eba1a9;
  font-size: 56px;
  font-family: 'Florentia', Arial, sans-serif;
  font-weight: 700; }

.karta_tovara {
  display: flex;
  margin-right: 13px;
  margin-bottom: 50px;
  text-decoration: none;
  font-family: 'Florentia', Arial, sans-serif;
  font-weight: 600;
  color: #eba1a9; }
  .karta_tovara .card .card-img-top {
    width: 360px;
    height: 360px; }
  .karta_tovara .card .ssylka {
    display: flex;
    justify-content: center;
    text-decoration: none; }

.karta_tovara:hover {
  box-shadow: 0px 4px 8px 20px rgba(241, 142, 197, 0.2); }

.card-img-top {
  width: 360px;
  height: 360px; }

.scelet .container h1 {
  color: #eba1a9;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase; }
.scelet .container .vbaranovichah {
  color: #232323;
  font-size: 32px;
  font-weight: 500;
  display: flex;
  position: absolute;
  top: 180px;
  left: 665px; }
.scelet .container .small_text {
  color: #232323;
  font-size: 22px;
  font-family: 'Florentia', Arial, sans-serif;
  font-weight: 500;
  margin-top: 150px; }
.scelet .container .knopki {
  display: flex;
  margin-top: 30px; }
  .scelet .container .knopki a {
    text-decoration: none; }
    .scelet .container .knopki a .button1 {
      width: 308px;
      height: 86px;
      background-color: gold;
      font-size: 22px;
      font-family: 'Florentia', Arial, sans-serif;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #232323;
      border-radius: 20px; }
    .scelet .container .knopki a .button1:hover {
      box-shadow: 0px 4px 8px 20px rgba(16, 112, 186, 0.2); }
    .scelet .container .knopki a .button2 {
      width: 308px;
      height: 86px;
      background-color: none;
      font-size: 22px;
      font-family: 'Florentia', Arial, sans-serif;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #232323;
      border-radius: 20px;
      border: solid;
      border-color: gold;
      margin-left: 50px; }
    .scelet .container .knopki a .button2:hover {
      box-shadow: 0px 4px 8px 20px rgba(16, 112, 186, 0.2); }
.scelet .vtorayaChast .container h2 {
  color: #eba1a9;
  font-size: 56px;
  font-family: 'Florentia', Arial, sans-serif;
  font-weight: 700; }
.scelet .vtorayaChast .container .kartochki_js .container222 {
  width: 1236px;
  margin: 0 auto; }
  .scelet .vtorayaChast .container .kartochki_js .container222 #app {
    display: flex;
    width: 1172px;
    flex-flow: wrap;
    justify-content: space-between; }
.scelet .tretiaChast .container h2 {
  color: #eba1a9;
  font-size: 56px;
  font-family: 'Florentia', Arial, sans-serif;
  font-weight: 700; }
.scelet .tretiaChast .container .fotoSoSpiskom {
  display: flex; }
  .scelet .tretiaChast .container .fotoSoSpiskom img {
    width: 460px;
    height: 562px; }
  .scelet .tretiaChast .container .fotoSoSpiskom ul li {
    color: #eba1a9;
    font-size: 20px;
    font-family: 'Florentia', Arial, sans-serif;
    line-height: NaN;
    font-weight: 500;
    margin-bottom: 106px;
    margin-left: 20px; }
.scelet .piatayaChast .container .otzivi {
  display: flex; }
.scelet .sixChast .container ul {
  background-color: gold;
  background-size: 860px 410px;
  border-radius: 20px;
  padding: 20px; }
  .scelet .sixChast .container ul li {
    color: #030303;
    font-size: 20px;
    font-family: 'Florentia', Arial, sans-serif;
    line-height: NaN;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 20px; }
.scelet .eightChast .container .footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between; }

/*# sourceMappingURL=buket1.css.map */
