.container {
    width: 1236px;
    margin: 0 auto;

}

h2 {
    color: #eba1a9;
    font-size: 56px;
    font-family: 'Florentia', Arial, sans-serif;
    font-weight: 700;
}

.karta_tovara {
    display: flex;
    margin-right: 13px;
    margin-bottom: 50px;
    text-decoration: none;
    font-family: 'Florentia', Arial, sans-serif;
    font-weight: 600;
    color: #eba1a9;

    .card {
        .card-img-top {
            width: 360px;
            height: 360px;

        }

        .ssylka {
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
    }
}

.karta_tovara:hover {
    box-shadow: 0px 4px 8px 20px rgba(241, 142, 197, 0.2);
}

.card-img-top {
    width: 360px;
    height: 360px;

}

.scelet {
    .container {
        h1 {
            color: #eba1a9;
            font-size: 72px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .vbaranovichah {
            color: #232323;
            font-size: 32px;
            font-weight: 500;
            display: flex;
            position: absolute;
            top: 180px;
            left: 665px;
        }

        .small_text {
            color: #232323;
            font-size: 22px;
            font-family: 'Florentia', Arial, sans-serif;
            font-weight: 500;
            margin-top: 150px;
        }

        .knopki {
            display: flex;
            margin-top: 30px;


            a {
                text-decoration: none;

                .button1 {
                    width: 308px;
                    height: 86px;
                    background-color: gold;
                    font-size: 22px;
                    font-family: 'Florentia', Arial, sans-serif;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: #232323;
                    border-radius: 20px;
                }

                .button1:hover {
                    box-shadow: 0px 4px 8px 20px rgba(16, 112, 186, 0.2);
                }

                .button2 {
                    width: 308px;
                    height: 86px;
                    background-color: none;
                    font-size: 22px;
                    font-family: 'Florentia', Arial, sans-serif;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: #232323;
                    border-radius: 20px;
                    border: solid;
                    border-color: gold;
                    margin-left: 50px;
                }

                .button2:hover {
                    box-shadow: 0px 4px 8px 20px rgba(16, 112, 186, 0.2);
                }
            }
        }

    }

    .vtorayaChast {
        .container {
            h2 {
                color: #eba1a9;
                font-size: 56px;
                font-family: 'Florentia', Arial, sans-serif;
                font-weight: 700;
            }

            .kartochki_js {

                .container222 {
                    width: 1236px;
                    margin: 0 auto;




                    #app {
                        display: flex;
                        width: 1172px;
                        flex-flow: wrap;
                        justify-content: space-between;


                    }
                }
            }
        }
    }

    .tretiaChast {
        .container {
            h2 {
                color: #eba1a9;
                font-size: 56px;
                font-family: 'Florentia', Arial, sans-serif;
                font-weight: 700;
            }

            .fotoSoSpiskom {
                display: flex;

                img {
                    width: 460px;
                    height: 562px;
                }

                ul {
                    li {
                        color: #eba1a9;
                        font-size: 20px;
                        font-family: 'Florentia', Arial, sans-serif;
                        line-height: NaN;
                        font-weight: 500;
                        margin-bottom: 106px;
                        margin-left: 20px;
                    }

                }
            }
        }
    }

    .piatayaChast {
        .container {
            .otzivi {
                display: flex;
            }
        }
    }

    .sixChast {
        .container {
            ul {
                background-color: gold;
                background-size: 860px 410px;
                border-radius: 20px;
                padding: 20px;

                li {
                    color: #030303;
                    font-size: 20px;
                    font-family: 'Florentia', Arial, sans-serif;
                    line-height: NaN;
                    font-weight: 500;
                    margin-bottom: 20px;
                    margin-left: 20px;
                }
            }
        }
    }

    .eightChast {
        .container {
            .footer {
                margin-top: 100px;
                display: flex;
                justify-content: space-between;

                .stolbikiFootera {}

            }
        }
    }
}