*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header>div{
    width: 1456px; margin: 0 auto;
}
.header>div>img{
    float: left;
}
.header>div>img>div{
    float: right;
}
.header div>ul{
    float: left;
}

.header ul>li{
    float: left;
}
.header ul>img{
    float: right;
}
.header button{
    float: right;
}