p {
    font-family: 'Open Sans', sans-serif;
}

.content {

    color: #54595f;
    margin-top: 80px;

    .container {

        h1 {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            color: #4a6672;
            font-family: 'Open Sans', sans-serif;
        }

        h3 {
            color: #4a6672;
            font-family: 'Open Sans', sans-serif;
        }

        .abz1 {
            font-family: 'Open Sans', sans-serif;
        }

        img {
            margin-left: 11%;
        }

        ul {
            margin-top: 25px;
            margin-bottom: 25px;

            li {
                margin-left: 4%;
                font-family: 'Open Sans', sans-serif;
            }
        }

        .abz2 {
            margin-bottom: 15px;
            font-family: 'Open Sans', sans-serif;
        }

        .blochok {
            color: #31708f;
            background-color: #A8BDB89C;
            border-left: solid 3px;
            height: 40px;
            display: flex;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
        }

        button {
            background-color: red;
            margin-left: 50%;
            margin-top: 15px;
            color: white;
            border-radius: 20px;
            border: white;
            padding: 20px;
            font-family: 'Open Sans', sans-serif;
        }

        .abz3 {
            margin-bottom: 15px;
            font-family: 'Open Sans', sans-serif;
        }

    }
}