.carousel-inner {
  position: relative;
  display: flex; }
  .carousel-inner .blok_na_kartinke {
    position: absolute;
    top: 200px;
    right: 800px;
    overflow: hidden;
    white-space: nowrap;
    animation: showup 6.5s infinite;
    font-family: 'Open Sans', sans-serif; }
@keyframes showup {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes slidein {
  0% {
    margin-left: -800px; }
  20% {
    margin-left: -800px; }
  35% {
    margin-left: 0px; }
  100% {
    margin-left: 0px; } }
@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px; }
  20% {
    opacity: 1;
    width: 0px; }
  30% {
    width: 355px; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    width: 355px; } }
    .carousel-inner .blok_na_kartinke .text_avtopom {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 30px;
      font-family: 'Open Sans', sans-serif; }
    .carousel-inner .blok_na_kartinke .text_pod_avtopom {
      color: white;
      font-family: 'Open Sans', sans-serif; }
    .carousel-inner .blok_na_kartinke .knopki {
      display: flex;
      font-family: 'Open Sans', sans-serif; }
      .carousel-inner .blok_na_kartinke .knopki .yellow_button {
        background-color: yellow;
        margin-right: 25px;
        width: 80px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center; }
      .carousel-inner .blok_na_kartinke .knopki .white_button {
        background-color: #FFF;
        width: 80px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center; }

.carousel-inner {
  position: relative; }
  .carousel-inner .blok_na_kartinke1 {
    position: absolute;
    top: 200px;
    right: 220px;
    overflow: hidden;
    white-space: nowrap;
    animation: showup 6.5s infinite;
    font-family: 'Open Sans', sans-serif; }
@keyframes showup {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes slidein {
  0% {
    margin-left: -800px; }
  20% {
    margin-left: -800px; }
  35% {
    margin-left: 0px; }
  100% {
    margin-left: 0px; } }
@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px; }
  20% {
    opacity: 1;
    width: 0px; }
  30% {
    width: 355px; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    width: 355px; } }
    .carousel-inner .blok_na_kartinke1 .text_avtopom1 {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 30px;
      font-family: 'Open Sans', sans-serif; }
    .carousel-inner .blok_na_kartinke1 .text_pod_avtopom1 {
      color: white;
      font-family: 'Open Sans', sans-serif; }
    .carousel-inner .blok_na_kartinke1 .knopki1 {
      display: flex; }
      .carousel-inner .blok_na_kartinke1 .knopki1 .yellow_button1 {
        background-color: yellow;
        margin-right: 25px;
        width: 80px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Open Sans', sans-serif; }
      .carousel-inner .blok_na_kartinke1 .knopki1 .white_button1 {
        background-color: #FFF;
        width: 80px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Open Sans', sans-serif; }

.container {
  width: 1236px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif; }

.knopka_vizova {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  padding-left: 38px;
  padding-right: 38px; }

.header {
  background-color: #646464; }
  .header .container {
    display: flex; }
    .header .container .zakazat_evacuator {
      color: white; }
    .header .container .nomer_telefona {
      color: yellow; }

.header1 {
  display: flex;
  justify-content: center;
  background-image: url("../img/backgroung_header.PNG");
  background-size: cover;
  background-attachment: fixed; }
  .header1 .container1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: #FFF;
    border: solid 1px gray; }
    .header1 .container1 .container {
      display: flex;
      justify-content: space-between; }
    .header1 .container1 .spisok_header {
      position: relative;
      display: flex;
      width: 620px;
      justify-content: space-between;
      align-items: center;
      font-family: 'Open Sans', sans-serif; }
      .header1 .container1 .spisok_header li {
        list-style-type: none;
        color: #8f8f8f;
        text-transform: uppercase; }
    .header1 .container1 .knopka_vizova {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: yellow;
      padding-left: 38px;
      padding-right: 38px; }

.avtopom_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif; }

.kart .container {
  display: flex;
  position: relative;
  top: -50px; }
  .kart .container .kartochki {
    background-color: #FFF;
    margin-right: 30px;
    margin-top: 30px; }
    .kart .container .kartochki img {
      width: 253px;
      height: 160px; }
    .kart .container .kartochki h3 {
      text-transform: uppercase;
      font-weight: bold;
      color: black; }
    .kart .container .kartochki .stoim {
      display: flex;
      justify-content: space-between;
      color: #646464;
      border-bottom: solid;
      border-bottom-color: #8f8f8f;
      border-bottom-width: 2px; }
    .kart .container .kartochki .rasch {
      display: flex;
      justify-content: space-between; }
    .kart .container .kartochki .krasnaya_knopka {
      background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px; }

.slider_s_sto {
  font-family: 'Open Sans', sans-serif; }
  .slider_s_sto .carousel-inner2 {
    position: relative; }
    .slider_s_sto .carousel-inner2 .blok_na_kartinke2 {
      position: absolute;
      width: 40%;
      height: 100%;
      color: white;
      background-color: #646464; }
      .slider_s_sto .carousel-inner2 .blok_na_kartinke2 .text_prikur {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        margin-top: 150px;
        margin-left: 60px; }
      .slider_s_sto .carousel-inner2 .blok_na_kartinke2 .text_pod_prikur {
        color: white;
        margin-left: 60px; }
      .slider_s_sto .carousel-inner2 .blok_na_kartinke2 .knopki1 {
        display: flex;
        margin-left: 60px; }
        .slider_s_sto .carousel-inner2 .blok_na_kartinke2 .knopki1 .yellow_button {
          background-color: yellow;
          margin-right: 25px;
          width: 80px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black; }
        .slider_s_sto .carousel-inner2 .blok_na_kartinke2 .knopki1 .white_button {
          background-color: #FFF;
          width: 80px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black; }

hgroup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 800px;
  font-family: 'Open Sans', sans-serif; }
  hgroup h1 {
    display: flex;
    justify-content: center; }
  hgroup h2 {
    display: flex;
    justify-content: center; }
  hgroup h6 {
    display: flex;
    justify-content: center; }

.pochemu_nas .container {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif; }
  .pochemu_nas .container .kart_1 p {
    text-transform: uppercase;
    font-weight: bold; }
  .pochemu_nas .container .kart_1 .foto_i_spisok {
    display: flex; }
  .pochemu_nas .container .kart_2 p {
    text-transform: uppercase;
    font-weight: bold; }
  .pochemu_nas .container .kart_2 .napolnenie {
    display: flex; }
    .pochemu_nas .container .kart_2 .napolnenie .net_nevip_zadach .knopka_vizova {
      margin-top: 104px; }
    .pochemu_nas .container .kart_2 .napolnenie .call_us {
      background-color: #646464;
      display: flex;
      justify-content: center;
      align-items: center;
      color: yellow; }

.text_o_kompanii .container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  text-align: center; }
  .text_o_kompanii .container div {
    text-transform: uppercase;
    font-weight: bold; }

.chto_govoryat_clienti {
  background-image: url("../img/notebook-12.jpg");
  height: 839px; }
  .chto_govoryat_clienti .container {
    display: flex;
    flex-direction: column; }
    .chto_govoryat_clienti .container .chto_govoryat_clienti_zagolovok {
      margin-top: 250px;
      color: #FFF;
      font-size: 35px; }
    .chto_govoryat_clienti .container .mi_priedem {
      color: #FFF;
      font-style: italic;
      margin-bottom: 60px; }
    .chto_govoryat_clienti .container .otziv {
      margin-bottom: 110px; }
      .chto_govoryat_clienti .container .otziv p {
        text-transform: uppercase;
        font-weight: bold;
        color: white; }
      .chto_govoryat_clienti .container .otziv div {
        color: white;
        text-transform: lowercase; }

.evacuatori {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif; }
  .evacuatori .yel_block h3 {
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    right: -70px; }
  .evacuatori .yel_block div {
    display: flex;
    justify-content: center;
    background-color: yellow;
    margin: 20px;
    margin-left: 40px;
    padding: 20px;
    width: 500px;
    text-transform: uppercase;
    font-weight: bold; }

.red_block {
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;
  padding: 10px;
  background-color: red;
  text-transform: uppercase;
  color: white;
  font-family: 'Open Sans', sans-serif; }

footer {
  background-color: #646464;
  color: white;
  font-family: 'Open Sans', sans-serif; }
  footer .container {
    display: flex; }
    footer .container .columnn_1 {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-right: 50px;
      margin-top: 50px;
      margin-bottom: 50px; }
      footer .container .columnn_1 h5 span {
        color: yellow; }
    footer .container .columnn_2 {
      display: flex;
      flex-direction: column;
      margin-right: 250px;
      margin-top: 50px;
      margin-bottom: 50px; }
    footer .container .columnn_3 {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-top: 50px;
      margin-bottom: 50px; }
  footer .enddd {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif; }

/*# sourceMappingURL=style.css.map */
