
@media screen and (max-width: 384px) {
   
    form>input:nth-child(1){width: 360px; width: 100%;}
    form>select{width: 100%;}
    form>textarea{width: 360px; width: 100%;}
    form>span{display: block;}
}

@media screen and (min-width: 385px)  {
    
    form>input:nth-child(1){margin-left: 50px; margin-bottom: 3px; width: 65%;}
    form>select{margin-left: 106px; margin-bottom: 5px; width: 35%;}
    form>textarea{ width: 100%;}
}

.ppp{color: red;}
